@font-face {
	font-family: Bubblegum;
	src: url(../grobold.ttf);
}

/*
*		320x480
*/

.pointsFrame320x480{
	background-image: url("../320x480/points.png");
	color: #4E3E2D;
	font-family: Bubblegum;
	font-size: 0.8em;
	height: 75px;
	left: 114px;
	min-height: 62px;
	padding-top: 39px;
	position: fixed;
	text-align: center;
	top: 0;
	width: 93px;
}

.levelsFrame320x480{
	background-image: url("../320x480/lvl.png");
	color: #4E3E2D;
	font-family: Bubblegum;
	font-size: 0.7em;
	height: 60px;
	left: 235px;
	min-height: 62px;
	padding-left: 37px;
	padding-top: 32px;
	position: fixed;
	top: 410px;
	width: 82px;
}

.lifesFrame320x480{
	background-image: url("../320x480/life.png");
	color: #FFFFFF;
	font-family: Bubblegum;
	font-size: 0.8em;
	height: 62px;
	left: 16px;
	min-height: 62px;
	padding-left: 5px;
	padding-top: 5px;
	position: fixed;
	top: 0;
	width: 87px;
}

.gobackFrame320x480{
	background-image: url("../320x480/backbutton.png");
	color: #4E3E2D;
	font-family: Bubblegum;
	font-size: 0.8em;
	height: 27px;
	left: 5px;
	min-height: 27px;
	position: fixed;
	top: 50px;
	width: 89px;
}

.guiCoinsFrame320x480{
	background-image: url("../320x480/guicoins.png");
	color: #644000;
	font-family: Bubblegum;
	font-size: 0.8em;
	height: 38px;
	left: 220px;
	padding-left: 15px;
	padding-top: 11px;
	position: fixed;
	text-align: left;
	top: 24px;
	width: 94px;
}

.guiBuyCoinsFrame320x480{
	background-image: url("../320x480/guibuycoins.png");
	height: 29px;
	left: 270px;
	position: fixed;
	top: 40px;
	width: 30px;
}

.guiBuyFreezeFrame320x480{
	background-image: url("../320x480/guibuyfreeze.png");
	color: #644000;
	font-family: Bubblegum;
	font-size: 0.6em;
	height: 36px;
	left: 10px;
	padding-left: 45px;
	padding-top: 3px;
	position: fixed;
	top: 435px;
	width: 61px;
}

.guiBuyBombFrame320x480{
	background-image: url("../320x480/guibuybomb.png");
	color: #644000;
	font-family: Bubblegum;
	font-size: 0.6em;
	height: 34px;
	left: 10px;
	padding-left: 45px;
	padding-top: 3px;
	position: fixed;
	top: 400px;
	width: 57px;
}

.guiBuyMultiFrame320x480{
	background-image: url("../320x480/guibuymulti.png");
	color: #644000;
	font-family: Bubblegum;
	font-size: 0.6em;
	height: 40px;
	left: 10px;
	padding-left: 44px;
	padding-top: 8px;
	position: fixed;
	top: 360px;
	width: 59px;
}

.guiPointsLeftFrame320x480{
	background-color: #FFFFFF;
	height: 215px;
	left: 299px;
	position: fixed;
	top: 189px;
	width: 5px;
}

.facebookFrame320x480{
	background-image: url("../320x480/facebook.png");
	height: 47px;
	left: 233px;
	min-height: 47px;
	position: fixed;
	top: 298px;
	width: 87px;
}

.coinsFrame320x480{
	background-image: url("../320x480/coins.png");
	height: 46px;
	left: 246px;
	min-height: 46px;
	position: fixed;
	top: 365px;
	width: 74px;
}

.leaderboardFrame320x480{
	background-image: url("../320x480/leaderboards.png");
	height: 56px;
	left: 234px;
	min-height: 56px;
	position: fixed;
	top: 226px;
	width: 86px;
}

.playImage320x480{
	background-image: url("../320x480/newbutton.png");
	height: 65px;
	left: 84px;
	min-height: 65px;
	position: fixed;
	right: auto;
	top: 175px;
	width: 160px;
}

.continueImage320x480{
	background-image: url("../320x480/continuebutton.png");
	height: 65px;
	left: 84px;
	min-height: 65px;
	position: fixed;
	top: 247px;
	width: 160px;
}

.optionsImage320x480{
	background-image: url("../320x480/optionbutton.png");
	height: 65px;
	left: 103px;
	min-height: 65px;
	position: fixed;
	right: auto;
	top: 320px;
	width: 160px;
}

.facebookButton320x480{
	position: fixed;
	background-image: url(../320x480/facebookbutton.png);
	width: 155px;
	height: 25px;
	min-height: 25px;
	left: 130px;
	top: 300px;
}

.loadingProgressBar320x480{
	position: fixed;
	width: 130px;
	height: 9px;
	min-height: 9px;
	left: 102px;
	top: 260px;
}

.panda320x480{
	position: fixed;
	/*width: 90px;
	height: 111px;
	min-height: 111px;*/
	left: 80px;
	top: 370px;
}

.guiFinishPoints320x480{
	font-family: Bubblegum;
	font-size: 1.1em;
	color: #644000;
	position: fixed;
	width: 67px;
	height: 40px;
	top: 287px;
	padding-top: 11px;
	/*padding-left: 5px;*/
	left: 130px;
	text-align: center;
}

.guiFinishPoints320x480 > p { 
	vertical-align: middle;
}

.guiLooseContinue320x480{
	position: fixed;
	background-image: url(../320x480/guicontinue.png);
	width: 137px;
	height: 60px;
	min-height: 60px;
	left: 107px;
	top: 335px;
}

.guiLooseMenu320x480{
	position: fixed;
	background-image: url(../320x480/guimenu.png);
	width: 149px;
	height: 55px;
	min-height: 60px;
	left: 80px;
	top: 395px;
}

.uiAlert320x480{
	font-family: Bubblegum;
	font-size: 1.1em;
	color: #644000;
	position: fixed;
	background-image: url(../backgrounddiv.png);
	background-repeat: repeat;
	width: 100%;
	height: 100%;
	min-height: 100%;
	left: 0px;
	top: 0px;
}

.uiAlertImage320x480{
	position: fixed;
	background-image: url(../320x480/alertscreen.png);
	width: 320px;
	height: 263px;
	min-height: 263px;
	left: 0px;
	top: 0px;
}

.uiAlertButton320x480{
	position: fixed;
	background-image: url(../320x480/alertbutton.png);
	width: 200px;
	max-width: 201px;
	height: 117px;
	min-height: 117px;
	top: 235px;
	left: 90px;
	/*padding-top: 50px;
	padding-left: 27px;*/
	text-align: center;
	display: table-cell;
	vertical-align: middle
}

.uiAlertButton320x480 > div {
	position: absolute;
	height: 50px;
	width: 140px;
	top: 40px;
	left: 30px;
}

.uiAlertText320x480{
	position: absolute;
	width: 244px;
	height: 104px;
	min-height: 263px;
	text-align: center;
	left: 42px;
	top: 115px;
}

.uiHighscoreImage320x480{
	background-image: url("../320x480/highscorescreen.png");
	position: fixed;
	width: 320px;
	height: 263px;
	min-height: 263px;
	left: 0px;
	top: 0px;
}

.uiHighscoreButton320x480{
	background-image: url("../320x480/highscorebutton.png");
	position: fixed;
	width: 200px;
	max-width: 201px;
	height: 117px;
	min-height: 117px;
	top: 260px;
	left: 90px;
	/*padding-top: 50px;
	padding-left: 27px;*/
	text-align: center;
	display: table-cell;
	vertical-align: middle
}

.initScreen320x480{
	background-image: url(../320x480/loadingscreen.png);
}

.uiPauseButton320x480{
	background-image: url("../320x480/pausebutton.png");
	height: 27px;
	left: 285px;
	min-height: 0;
	position: fixed;
	top: 5px;
	width: 37px;
}

.uiPauseScreen320x480{
	position: fixed;
	background-image: url(../320x480/pausecartel.png);
	width: 320px;
	height: 480px;
	min-height: 480px;
	left: 0px;
	top: 0px;
}

.leaderboard320x480{
	position: absolute;
	top: 0px;
	left: 0px;
	background-image: url(../320x480/leaderboardscreen.png);
}

.leaderboardTabs320x480{
	position: absolute;
	top: 180px;
	left: 135px;
	width: 158px;
	height: 20px;
	min-height: 20px;
}

.leaderboardTab320x480{ 
	color: #644000;
	font-family: bubblegum;
	font-size: 0.7em;
	height: 130px;
	left: 65px;
	min-height: 97px;
	position: absolute;
	top: 230px;
	width: 210px;
}

.leaderboardTabHighscore320x480 { 
	background-image: url("../320x480/leaderboardhighscore.png");
	height: 26px;
	left: 109px;
	min-height: 20px;
	position: absolute;
	top: 175px;
	width: 83px;
}

.leaderboardTabFriends320x480 { 
	background-image: url("../320x480/leaderboardfriends.png");
	height: 26px;
	left: 190px;
	min-height: 20px;
	position: absolute;
	top: 175px;
	width: 83px;
}

.leaderboardTabHighlight320x480
{
	height: 40px;
}

.leaderboardBackMenu320x480 { 
	background-image: url("../320x480/leaderboardmenu.png");
	height: 265px;
	left: 102px;
	min-height: 65px;
	position: absolute;
	top: 380px;
	width: 116px;
}

.optionsFacebook320x480 {
	position: fixed;
	top: 270px;
	left: 120px;
	width: 92px;
	height: 61px;
	min-height: 61px;
	background-image: url(../320x480/optionsfacebook.png);
}

.optionsCoins320x480 {
	position: fixed;
	top: 265px;
	left: 185px;
	width: 110px;
	height: 115px;
	min-height: 115px;
	background-image: url(../320x480/optionscoins.png);
}

.optionsLeaderboards320x480 {
	position: fixed;
	top: 285px;
	left: 35px;
	width: 110px;
	height: 92px;
	min-height: 92px;
	background-image: url(../320x480/optionsleaderboard.png);
}

.optionsVolumeOn320x480 {
	position: fixed;
	top: 380px;
	left: 35px;
	width: 92px;
	height: 61px;
	min-height: 61px;
	background-image: url(../320x480/optionsvolumneon.png);
}

.optionsVolumeOff320x480 {
	position: fixed;
	top: 380px;
	left: 35px;
	width: 92px;
	height: 61px;
	min-height: 61px;
	background-image: url(../320x480/optionsvolumneoff.png);
}

.optionsMenu320x480 {
	position: fixed;
	top: 320px;
	left: 150px;
	width: 109px;
	height: 124px;
	min-height: 124px;
	background-image: url(../320x480/optionsmenu.png);
}