@font-face {
	font-family: Bubblegum;
	src: url(../grobold.ttf);
}

/*
*		360x480
*/

.pointsFrame360x480{
	background-image: url("../360x480/points.png");
	color: #4E3E2D;
	font-family: Bubblegum;
	font-size: 0.8em;
	height: 76px;
	left: 135px;
	min-height: 50px;
	padding-top: 35px;
	position: fixed;
	text-align: center;
	top: 0;
	width: 95px;
}

.levelsFrame360x480{
	background-image: url("../360x480/lvl.png");
	color: #4E3E2D;
	font-family: Bubblegum;
	font-size: 0.8em;
	height: 54px;
	left: 267px;
	min-height: 20px;
	padding-left: 44px;
	padding-top: 33px;
	position: fixed;
	top: 400px;
	width: 91px;
}

.lifesFrame360x480{
	background-image: url("../360x480/life.png");
	color: #FFFFFF;
	font-family: Bubblegum;
	font-size: 0.8em;
	height: 57px;
	left: 8px;
	min-height: 20px;
    padding-left: 35px;
    padding-top: 22px;
	position: fixed;
	top: 0;
	width: 71px;
}

.gobackFrame360x480{
	background-image: url("../360x480/backbutton.png");
	color: #4E3E2D;
	font-family: Bubblegum;
	font-size: 0.8em;
	height: 38px;
	left: 10px;
	min-height: 10px;
	position: fixed;
	top: 50px;
	width: 102px;
}

.guiCoinsFrame360x480{
	background-image: url("../360x480/guicoins.png");
	color: #644000;
	font-family: Bubblegum;
	font-size: 0.8em;
	height: 39px;
	left: 255px;
	padding-left: 14px;
	padding-top: 12px;
	position: fixed;
	text-align: left;
	top: 24px;
	width: 84px;
}

.guiBuyCoinsFrame360x480{
	background-image: url("../360x480/guibuycoins.png");
	height: 36px;
	left: 293px;
	position: fixed;
	top: 34px;
	width: 42px;
}

.guiBuyFreezeFrame360x480{
	background-image: url("../360x480/guibuyfreeze.png");
	color: #644000;
	font-family: Bubblegum;
	font-size: 0.6em;
	height: 36px;
	left: 6px;
	padding-left: 50px;
	padding-top: 8px;
	position: fixed;
	top: 432px;
	width: 61px;
}

.guiBuyBombFrame360x480{
	background-image: url("../360x480/guibuybomb.png");
	color: #644000;
	font-family: Bubblegum;
	font-size: 0.6em;
	height: 34px;
	left: 10px;
	padding-left: 46px;
	padding-top: 8px;
	position: fixed;
	top: 396px;
	width: 57px;
}

.guiBuyMultiFrame360x480{
	background-image: url("../360x480/guibuymulti.png");
	color: #644000;
	font-family: Bubblegum;
	font-size: 0.6em;
	height: 35px;
	left: 10px;
	padding-left: 45px;
	padding-top: 6px;
	position: fixed;
	top: 360px;
	width: 60px;
}

.guiPointsLeftFrame360x480{
	background-color: #FFFFFF;
	height: 287px;
	left: 338px;
	position: fixed;
	top: 110px;
	width: 7px;
}

.guiNextBallFrame360x480
{
	left: 112px;
	position: fixed;
	top: 438px;
}

.facebookFrame360x480{
	background-image: url("../360x480/facebook.png");
	height: 58px;
	left: 255px;
	min-height: 47px;
	position: fixed;
	top: 319px;
	width: 105px;
}

.coinsFrame360x480{
	background-image: url("../360x480/coins.png");
	height: 66px;
	left: 262px;
	min-height: 46px;
	position: fixed;
	top: 390px;
	width: 98px;
}

.leaderboardFrame360x480{
	background-image: url("../360x480/leaderboards.png");
	height: 57px;
	left: 262px;
	min-height: 56px;
	position: fixed;
	top: 249px;
	width: 98px;
}

.playImage360x480{
	background-image: url("../360x480/newbutton.png");
	height: 54px;
	left: 84px;
	min-height: 20px;
	position: fixed;
	right: auto;
	top: 193px;
	width: 152px;
}

.continueImage360x480{
	background-image: url("../360x480/continuebutton.png");
	height: 66px;
	left: 83px;
	min-height: 20px;
	position: fixed;
	top: 273px;
	width: 163px;
}

.optionsImage360x480{
	background-image: url("../360x480/optionbutton.png");
	height: 58px;
	left: 104px;
	min-height: 20px;
	position: fixed;
	right: auto;
	top: 352px;
	width: 151px;
}

.facebookButton360x480{
	background-image: url("../360x480/facebookbutton.png");
	height: 29px;
	left: 143px;
	min-height: 25px;
	position: fixed;
	top: 344px;
	width: 177px;
}

.loadingProgressBar360x480{
	height: 8px;
	left: 117px;
	position: fixed;
	top: 289px;
	width: 146px;
}

.panda360x480{
    left: 112px;
    position: fixed;
    top: 430px;
}

.guiProgressBar360x480{
	position: fixed;
	width: 9px;
	height: 287px;
	top: 111px;
	left: 337px;
}

.guiProgressBar360x480 > div{
	position: absolute;
	background-color: #fff;
	width: 100%;
	bottom: 0px;
	top: auto;
}

.panda360x480{
	position: fixed;
	/*width: 90px;
	height: 111px;
	min-height: 111px;*/
	left: 80px;
	top: 370px;
}

.guiFinishPoints360x480{
    color: #644000;
    font-family: Bubblegum;
    font-size: 0.8em;
    height: 20px;
    left: 45px;
    position: fixed;
    text-align: center;
    top: 260px;
    width: 67px;
}

.guiFinishRank360x480{
    font-family: Bubblegum;
    font-size: 0.9em;
    height: 20px;
    left: 145px;
    position: fixed;
    text-align: center;
    top: 260px;
    width: 67px;
}

.guiFinishLevel360x480{
	font-family: Bubblegum;
	font-size: 0.9em;
	height: 20px;
	left: 214px;
	position: fixed;
	text-align: center;
	top: 274px;
	width: 65px;
}

.guiFinishLifes360x480{
    font-family: Bubblegum;
    font-size: 0.9em;
    height: 20px;
    color: #FFFFFF;
    left: 235px;
    position: fixed;
    text-align: center;
    top: 260px;
    width: 65px;
}

.guiFinishCoins360x480{
    font-family: Bubblegum;
    font-size: 0.9em;
    height: 26px;
    left: 200px;
    position: fixed;
    text-align: center;
    top: 190px;
    width: 74px;
}

.guiFinishMoreCoins360x480{
    background-image: url("../360x480/guiaddbutton.png");
    height: 49px;
    left: 245px;
    position: fixed;
    top: 200px;
    width: 49px;
}

.guiFinishMultiCount360x480{
    font-family: Bubblegum;
    font-size: 0.6em;
    height: 12px;
    left: 120px;
    position: fixed;
    top: 312px;
    width: 13px;
}

.guiFinishBombCount360x480{
    font-family: Bubblegum;
    font-size: 0.6em;
    height: 12px;
    left: 210px;
    position: fixed;
    top: 312px;
    width: 13px;
}

.guiFinishFreezeCount360x480{
    font-family: Bubblegum;
    font-size: 0.6em;
    height: 12px;
    left: 300px;
    position: fixed;
    top: 312px;
    width: 13px;
}

.guiLooseScreen360x480{
	background-image: url(../360x480/guiloose.png);	
	position: fixed;
	top: 0px;
	left: 0px;
	width: 360px;
	height: 375px;
}	

.guiWinScreen360x480{
	background-image: url(../360x480/guiwin.png);	
	position: fixed;
	top: 0px;
	left: 0px;
	width: 360px;
	height: 365px;
}

.guiLooseContinue360x480{
	position: fixed;
	background-image: url(../360x480/guicontinueloose.png);
	width: 157px;
	height: 110px;
	min-height: 110px;
	left: 90px;
	top: 360px;
}

.guiWinContinue360x480{
	position: fixed;
	background-image: url(../360x480/guicontinuewin.png);
	width: 157px;
	height: 110px;
	min-height: 110px;
	left: 90px;
	top: 345px;
}

.guiBalanceCartel360x480{
	position: fixed;
	background-image: url(../360x480/guibalancescreen.png);
	top: 0px;
	left: 0px;
	height: 305px;
	width: 360px;
}

.guiBalanceBuyButton360x480{
	background-image: url("../360x480/guibalancemore.png");
	height: 80px;
	left: 165px;
	position: fixed;
	top: 220px;
	width: 148px;
}

.guiBalanceOkButton360x480{
	background-image: url("../360x480/guibalanceok.png");
	height: 85px;
	left: 4px;
	position: fixed;
	top: 220px;
	width: 156px;
}

.guiBalanceCoins360x480{
    font-family: Bubblegum;
    font-size: 0.9em;
    height: 30px;
    left: 260px;
    position: fixed;
    top: 122px;
    width: 100px;
}

.guiLoseAllLifes360x480{
	background-image: url("../360x480/guiendgame.png");
	height: 255px;
	left: 0;
	position: fixed;
	top: 0;
	width: 360px;
}

.guiLoseAllLifesOk360x480{
	background-image: url("../360x480/guiendgameok.png");
	height: 54px;
	left: 55px;
	position: fixed;
	top: 347px;
	width: 209px;
}

.guiLoseAllLifesBuy360x480{
	background-image: url("../360x480/guiendgamebuy.png");
	height: 110px;
	left: 55px;
	position: fixed;
	top: 238px;
	width: 210px;
}

.guiNoSoftgamesScreen360x480{
	background-image: url(../360x480/guisoftgamesscreen.png);
	position: fixed;
	height: 292px;
	width: 360px;
	top: 0px;
	left: 0px;
}

.guiNoSoftgamesButton360x480{
	background-image: url(../360x480/guisoftgamesbutton.png);
	position: fixed;
	height: 116px;
	width: 203px;
	top: 215px;
	left: 110px;
}

.guiNoInetErrorScreen360x480{
	background-image: url("../360x480/guinoinetscreen.png");
	height: 300px;
	left: 0;
	position: fixed;
	top: 0;
	width: 360px;
}

.guiNoInetErrorButton360x480{
	background-image: url("../360x480/guinoinetbutton.png");
	height: 76px;
	left: 100px;
	position: fixed;
	top: 210px;
	width: 210px;
}

.guiNoFaceErrorScreen360x480{
	background-image: url("../360x480/guinofacescreen.png");
	height: 309px;
	left: 0;
	position: fixed;
	top: 0;
	width: 360px;
}

.guiNoFaceErrorButton360x480{
	background-image: url("../360x480/guinofacebutton.png");
	height: 88px;
	left: 100px;
	position: fixed;
	top: 210px;
	width: 186px;
}

.guiPreviousScreen360x480{
	background-image: url("../360x480/guipreviousscreen.png");
	height: 288px;
	left: 0;
	position: fixed;
	top: 0;
	width: 360px;
}


.guiPreviousButton360x480{
	background-image: url("../360x480/guipreviousbutton.png");
	height: 119px;
	left: 50px;
	position: fixed;
	top: 245px;
	width: 233px;
}

.guiResolutionScreen360x480{
	background-image: url("../360x480/guiresolutionscreen.png");
	height: 306px;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 360px;
}

.guiResolutionButton360x480{
	background-image: url("../360x480/guiresolutionbutton.png");
	height: 117px;
	left: 124px;
	position: fixed;
	top: 210px;
	width: 201px;
}

.guiNewLifesErrorScreen360x480{
	background-image: url("../360x480/guilifeserrorscreen.png");
	height: 264px;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 360px;
}

.guiNewLifesErrorButton360x480{
	background-image: url("../360x480/guilifeserrorbutton.png");
	height: 114px;
	left: 124px;
	position: fixed;
	top: 230px;
	width: 193px;
}


.guiLooseMenu360x480{
	background-image: url("../360x480/guimenu.png");
	height: 58px;
	left: 107px;
	min-height: 20px;
	position: fixed;
	top: 402px;
	width: 149px;
}

.uiAlert360x480{
	font-family: Bubblegum;
	font-size: 1.1em;
	color: #644000;
	position: fixed;
	background-image: url(../backgrounddiv.png);
	background-repeat: repeat;
	width: 100%;
	height: 100%;
	min-height: 100%;
	left: 0px;
	top: 0px;
}

.uiAlertImage360x480{
	background-image: url("../360x480/alertscreen.png");
	height: 324px;
	left: 0;
	min-height: 263px;
	position: fixed;
	top: 0;
	width: 360px;
}

.uiAlertButton360x480{
	background-image: url("../360x480/alertbutton.png");
	display: table-cell;
	height: 123px;
	left: 73px;
	max-width: 201px;
	min-height: 117px;
	position: fixed;
	text-align: center;
	top: 292px;
	vertical-align: middle;
	width: 213px;
}

.uiAlertButton360x480 > div {
	height: 50px;
	left: 30px;
	position: absolute;
	top: 40px;
	width: 155px;
}

.uiAlertText360x480{
	height: 104px;
	left: 55px;
	min-height: 50px;
	position: absolute;
	text-align: center;
	top: 166px;
	width: 247px;
}

.uiHighscoreImage360x480{
	background-image: url("../360x480/highscorescreen.png");
	height: 306px;
	left: 0;
	min-height: 306px;
	position: fixed;
	top: 0;
	width: 360px;
}

.uiHighscoreButton360x480{
	background-image: url("../360x480/highscorebutton.png");
	height: 116px;
	left: 65px;
	position: fixed;
	top: 276px;
	width: 193px;
}

.initScreen360x480{
	background-image: url(../360x480/loadingscreen.png);
}

.uiPauseButton360x480{
	background-image: url("../360x480/pausebutton.png");
	height: 32px;
	left: 310px;
	min-height: 10px;
	position: fixed;
	top: 0;
	width: 47px;
}

.uiPauseScreen360x480{
	background-image: url("../360x480/pausecartel.png");
	background-position: center top;
	height: 480px;
	left: 0;
	min-height: 480px;
	position: fixed;
	top: 0;
	width: 360px;
}

.leaderboard360x480{
	position: absolute;
	top: 0px;
	left: 0px;
	background-image: url(../360x480/leaderboardscreen.png);
}

.leaderboardTabs360x480{
	position: absolute;
	top: 180px;
	left: 135px;
	width: 158px;
	height: 20px;
	min-height: 20px;
}

.leaderboardTab360x480{ 
	color: #644000;
	font-family: bubblegum;
	font-size: 0.8em;
	height: 133px;
	left: 86px;
	min-height: 40px;
	position: absolute;
	top: 238px;
	width: 200px;
}

.leaderboardTabHighscore360x480 { 
	background-image: url("../360x480/leaderboardhighscore.png");
	height: 25px;
	left: 132px;
	min-height: 20px;
	position: absolute;
	top: 177px;
	width: 83px;
}

.leaderboardTabFriends360x480 { 
	background-image: url("../360x480/leaderboardfriends.png");
	height: 24px;
	left: 212px;
	min-height: 20px;
	position: absolute;
	top: 177px;
	width: 83px;
}

.leaderboardBackMenu360x480 { 
	background-image: url("../360x480/leaderboardmenu.png");
	height: 66px;
	left: 115px;
	min-height: 65px;
	position: absolute;
	top: 388px;
	width: 130px;
}

.leaderboardTabHighlight360x480
{
	height: 40px;
}

.optionsFacebook360x480 {
	background-image: url("../360x480/optionsfacebook.png");
	height: 54px;
	left: 132px;
	min-height: 61px;
	position: fixed;
	top: 250px;
	width: 90px;
}

.optionsCoins360x480 {
	background-image: url("../360x480/optionscoins.png");
	height: 104px;
	left: 198px;
	min-height: 115px;
	position: fixed;
	top: 243px;
	width: 104px;
}

.optionsLeaderboards360x480 {
	background-image: url("../360x480/optionsleaderboard.png");
	height: 78px;
	left: 48px;
	min-height: 92px;
	position: fixed;
	top: 265px;
	width: 108px;
}

.optionsVolumeOn360x480 {
	position: fixed;
	top: 380px;
	left: 35px;
	width: 92px;
	height: 61px;
	min-height: 61px;
	background-image: url(../360x480/optionsvolumneon.png);
}

.optionsVolumeOff360x480 {
	position: fixed;
	top: 380px;
	left: 35px;
	width: 92px;
	height: 61px;
	min-height: 61px;
	background-image: url(../360x480/optionsvolumneoff.png);
}

.optionsMenu360x480 {
	background-image: url("../360x480/optionsmenu.png");
	height: 103px;
	left: 150px;
	min-height: 124px;
	position: fixed;
	top: 298px;
	width: 85px;
}