@font-face {
	font-family: Bubblegum;
	src: url(../grobold.ttf);
}

/*
*		360x480
*/

.pointsFrame360x480{
	background-image: url("../360x480/points.png");
	color: #4E3E2D;
	font-family: Bubblegum;
	font-size: 0.8em;
	height: 54px;
	left: 272px;
	min-height: 54px;
	padding-top: 25px;
	position: fixed;
	text-align: center;
	top: 340px;
	width: 90px;
}

.levelsFrame360x480{
	background-image: url("../360x480/lvl.png");
	color: #4E3E2D;
	font-family: Bubblegum;
	font-size: 0.8em;
	height: 54px;
	left: 272px;
	min-height: 20px;
	padding-left: 41px;
	padding-top: 31px;
	position: fixed;
	top: 400px;
	width: 91px;
}

.lifesFrame360x480{
	background-image: url("../360x480/life.png");
	color: #FFFFFF;
	font-family: Bubblegum;
	font-size: 0.8em;
	height: 57px;
	left: 260px;
	min-height: 20px;
	padding-left: 35px;
	padding-top: 22px;
	position: fixed;
	top: 0;
	width: 71px;
}

.gobackFrame360x480{
	background-image: url("../360x480/backbutton.png");
	color: #4E3E2D;
	font-family: Bubblegum;
	font-size: 0.8em;
	height: 23px;
	left: 240px;
	min-height: 10px;
	position: fixed;
	top: 55px;
	width: 75px;
}

.facebookFrame360x480{
	background-image: url("../360x480/facebook.png");
	height: 58px;
	left: 255px;
	min-height: 47px;
	position: fixed;
	top: 319px;
	width: 105px;
}

.coinsFrame360x480{
	background-image: url("../360x480/coins.png");
	height: 66px;
	left: 262px;
	min-height: 46px;
	position: fixed;
	top: 390px;
	width: 98px;
}

.leaderboardFrame360x480{
	background-image: url("../360x480/leaderboards.png");
	height: 57px;
	left: 262px;
	min-height: 56px;
	position: fixed;
	top: 249px;
	width: 98px;
}

.playImage360x480{
	background-image: url("../360x480/newbutton.png");
	height: 54px;
	left: 84px;
	min-height: 20px;
	position: fixed;
	right: auto;
	top: 193px;
	width: 152px;
}

.continueImage360x480{
	background-image: url("../360x480/continuebutton.png");
	height: 66px;
	left: 83px;
	min-height: 20px;
	position: fixed;
	top: 273px;
	width: 163px;
}

.optionsImage360x480{
	background-image: url("../360x480/optionbutton.png");
	height: 58px;
	left: 104px;
	min-height: 20px;
	position: fixed;
	right: auto;
	top: 352px;
	width: 151px;
}

.facebookButton360x480{
	background-image: url("../360x480/facebookbutton.png");
	height: 29px;
	left: 143px;
	min-height: 25px;
	position: fixed;
	top: 344px;
	width: 177px;
}

.loadingProgressBar360x480{
	height: 8px;
	left: 117px;
	position: fixed;
	top: 289px;
	width: 146px;
}

.panda360x480{
	position: fixed;
	/*width: 90px;
	height: 111px;
	min-height: 111px;*/
	left: 80px;
	top: 370px;
}

.guiFinishPoints360x480{
	color: #644000;
	font-family: Bubblegum;
	font-size: 1.1em;
	height: 30px;
	left: 157px;
	padding-top: 11px;
	position: fixed;
	text-align: center;
	top: 283px;
	width: 65px;
}

.guiFinishPoints360x480 > p { 
	vertical-align: middle;
}

.guiLooseContinue360x480{
	background-image: url("../360x480/guicontinue.png");
	height: 62px;
	left: 129px;
	min-height: 60px;
	position: fixed;
	top: 340px;
	width: 150px;
}

.guiLooseMenu360x480{
	background-image: url("../360x480/guimenu.png");
	height: 58px;
	left: 107px;
	min-height: 20px;
	position: fixed;
	top: 402px;
	width: 149px;
}

.uiAlert360x480{
	font-family: Bubblegum;
	font-size: 1.1em;
	color: #644000;
	position: fixed;
	background-image: url(../backgrounddiv.png);
	background-repeat: repeat;
	width: 100%;
	height: 100%;
	min-height: 100%;
	left: 0px;
	top: 0px;
}

.uiAlertImage360x480{
	background-image: url("../360x480/alertscreen.png");
	height: 324px;
	left: 0;
	min-height: 263px;
	position: fixed;
	top: 0;
	width: 360px;
}

.uiAlertButton360x480{
	background-image: url("../360x480/alertbutton.png");
	display: table-cell;
	height: 123px;
	left: 73px;
	max-width: 201px;
	min-height: 117px;
	position: fixed;
	text-align: center;
	top: 292px;
	vertical-align: middle;
	width: 213px;
}

.uiAlertButton360x480 > div {
	height: 50px;
	left: 30px;
	position: absolute;
	top: 40px;
	width: 155px;
}

.uiAlertText360x480{
	height: 104px;
	left: 55px;
	min-height: 50px;
	position: absolute;
	text-align: center;
	top: 166px;
	width: 247px;
}

.initScreen360x480{
	background-image: url(../360x480/loadingscreen.png);
}

.uiPauseButton360x480{
	background-image: url("../360x480/pausebutton.png");
	height: 50px;
	left: 145px;
	min-height: 39px;
	position: fixed;
	top: 50px;
	width: 70px;
}

.uiPauseScreen360x480{
	background-image: url("../360x480/pausecartel.png");
	height: 480px;
	left: 0;
	min-height: 480px;
	position: fixed;
	top: 0;
	width: 360px;
}

.leaderboard360x480{
	position: absolute;
	top: 0px;
	left: 0px;
	background-image: url(../360x480/leaderboardscreen.png);
}

.leaderboardTabs360x480{
	position: absolute;
	top: 180px;
	left: 135px;
	width: 158px;
	height: 20px;
	min-height: 20px;
}

.leaderboardTab360x480{ 
	color: #644000;
	font-family: bubblegum;
	font-size: 0.8em;
	height: 133px;
	left: 86px;
	min-height: 40px;
	position: absolute;
	top: 238px;
	width: 200px;
}

.leaderboardTabHighscore360x480 { 
	background-image: url("../360x480/leaderboardhighscore.png");
	height: 25px;
	left: 132px;
	min-height: 20px;
	position: absolute;
	top: 177px;
	width: 83px;
}

.leaderboardTabFriends360x480 { 
	background-image: url("../360x480/leaderboardfriends.png");
	height: 24px;
	left: 212px;
	min-height: 20px;
	position: absolute;
	top: 177px;
	width: 83px;
}

.leaderboardBackMenu360x480 { 
	background-image: url("../360x480/leaderboardmenu.png");
	height: 66px;
	left: 115px;
	min-height: 65px;
	position: absolute;
	top: 388px;
	width: 130px;
}

.leaderboardTabHighlight360x480
{
	height: 40px;
}

.optionsFacebook360x480 {
	background-image: url("../360x480/optionsfacebook.png");
	height: 54px;
	left: 132px;
	min-height: 61px;
	position: fixed;
	top: 250px;
	width: 90px;
}

.optionsCoins360x480 {
	background-image: url("../360x480/optionscoins.png");
	height: 104px;
	left: 198px;
	min-height: 115px;
	position: fixed;
	top: 243px;
	width: 104px;
}

.optionsLeaderboards360x480 {
	background-image: url("../360x480/optionsleaderboard.png");
	height: 78px;
	left: 48px;
	min-height: 92px;
	position: fixed;
	top: 265px;
	width: 108px;
}

.optionsVolumeOn360x480 {
	position: fixed;
	top: 380px;
	left: 35px;
	width: 92px;
	height: 61px;
	min-height: 61px;
	background-image: url(../360x480/optionsvolumneon.png);
}

.optionsVolumeOff360x480 {
	position: fixed;
	top: 380px;
	left: 35px;
	width: 92px;
	height: 61px;
	min-height: 61px;
	background-image: url(../360x480/optionsvolumneoff.png);
}

.optionsMenu360x480 {
	background-image: url("../360x480/optionsmenu.png");
	height: 103px;
	left: 150px;
	min-height: 124px;
	position: fixed;
	top: 298px;
	width: 85px;
}