@font-face {
	font-family: Bubblegum;
	src: url(../grobold.ttf);
}

/*
*		480x800
*/

/*======================pantalla ingame==============================================*/
/*#frameBackground{ width: 480px !important; height: 800px !important; background-position: center 140px !important; position: absolute; !important; left: 0px; }
*/
#guicanon480x800{background-image: url("../480x800/cannon.png");position: absolute;width: 160px;height: 130px;left:164px;top: 590px;	}
.awesome480x800{ width: 100%;height: 75px;background-image: url("../480x800/awesome.png") ;  position:absolute;background-position: center ; top:158px;}
.great480x800{ width: 100%;height: 75px;background-image: url("../480x800/great.png") ;  position:absolute;background-position: center ; top:158px;}
.combo480x800{ width: 100%;height: 75px;background-image: url("../480x800/combo.png") ;  position:absolute;background-position: center ; top:158px;}
.onfire480x800{ width: 100%;height: 75px;background-image: url("../480x800/onfire.png") ;  position:absolute;background-position: center ; top:158px;}
.going480x800{ width: 100%;height: 75px;background-image: url("../480x800/going.png") ;  position:absolute;background-position: center ; top:158px;}
.guipelotapanda480x800{	left: 135px;position: fixed;top: 656px;}
.guipelotapanda480x800 img {width:  44.375px; height: 44.375px; min-height: 44.375px;}
.guipelotacanon480x800{	left: 230px;position: fixed;top: 660px;}
.guipelotacanon480x800 img  {width:  44.375px; height: 44.375px; min-height: 44.375px;}

/* #contenedorgreat320x480{position: absolute;width: 100%;top:164px;}
#great320x480{ width: 135px;height: 75px;background-image: url("../320x480/great320.png"); margin: 0 auto;}
*/
/* =========== ingame para el trofeo======================================================================================================*/
.containerborrar480x800{width: 480px;height: 800px; background-image: url("../480x800/background.jpg");position: absolute;}
.guiProgressBartrofeo480x800{height: 364px;  left: -1px; position: fixed; top: 330px; width: 40px;background-image: url(../480x800/progressbar.png);background-repeat:no-repeat;}
/*.guiProgressBarmedio480x800{width: 12px;height: 280px;bottom: 0px;left: 7px;position: absolute;}*/
.guiProgressBarmedio480x800{width: 7px;height: 270px;margin-left:13px;margin-top:48px}
.guiProgressBarinterna480x800{margin-left:3px;width: 9px;height: 312px;background-image: url("../480x800/progressbarinterna.png");background-repeat:no-repeat;}

/*==========================pantalla highscore ==========================================================================================================*/
.guihighscoretabmyscore480x800 img{width: 42px;height: 42px;}
.guihighscoretabeveryone480x800 img{width: 42px;height: 42px;}
.guihighscoretabmyscore480x800 td{   font-family: bubblegum !important;    font-size: 1.3em !important;}
.guihighscoretabeveryone480x800 td{ font-family: bubblegum !important;    font-size: 1.3em !important;}
.guihighscoretabmyscore480x800{}
.guihighscoretabeveryone480x800 {margin-top:52px;}
.guihighscoretabeveryone480x800 td{padding-bottom:12px;}
/*.leaderboardTab480x800 { left: 63px !important;top: 225px !important;}*/
.nick480x800{padding-left:11px;width: 190px;}
.hhighscorealltime480x800{left: 68px;top: 274px;width: 117px;height:26px;position: absolute;background-image: url(../480x800/alltime.png); }
.hhighscoretoday480x800{left:200px;top: 274px;width: 116px;height:26px;position: absolute;background-image: url(../480x800/today.png); }
.hhighscorethisweek480x800{left: 326px;top: 274px;width: 117px;height:26px;position: absolute;background-image: url(../480x800/thisweek.png); }
.highscorealltimeapretado480x800{left: 68px;top: 264px;width: 117px;height:36px;position: absolute;background-image: url(../480x800/alltime.png); }
.highscoretodayapretado480x800{left:200px;top: 264px;width: 116px;height:36px;position: absolute;background-image: url(../480x800/today.png); }
.highscorethisweekapretado480x800{left: 326px;top: 264px;width: 117px;height:36px;position: absolute;background-image: url(../480x800/thisweek.png); }
/* #leaderboardMenu{display:block !important;}
#gameMenu{display:none !important;}
*/
.backahigscore480x800{width: 127px;height: 69px;position: fixed;left: 326px;top: 0px;background-image: url(../480x800/backahigscore.png);}

/*=========================pantalla achievement=================================================================================================================*/
.containerachievement480x800{position: absolute;width: 480px;height: 800px;background-image: url(../480x800/achievement.png); background-repeat:no-repeat ;}
.generalLeaderboardachievement480x800{left: 70px;top: 271px; width: 360px;position: absolute;}
.guihighscoretabachievement480x800 {color: #644000; }
.guihighscoretabachievement480x800 td{padding-bottom:20px;padding-left:2px; }
.levelarchievement480x800{font-family: Bubblegum;font-size:18px;color: #644000;}
.rankarchievement480x800{font-family: Bubblegum;font-size:14px;color: #644000;}
.celda1achievement480x800{width: 290px;}
.celda2achievement480x800{}
.celda3achievement480x800{}
.transparenteachievement480x800{ width: 368px; height: 32px; position: absolute; top: 0px: left: 0px;background-image: url(../480x800/transparencia.png);}
.okachievement480x800{width: 28px; height: 25px;background-image: url(../480x800/okachievement.png);background-repeat:no-repeat ;}
.avatarachievement480x800{width: 30px; height: 31px;background-image: url(../480x800/borrame.png);}
.cuadradoachievement480x800{width: 46px; height: 47px;background-image: url(../480x800/cuadradoachievement.png);}
.backachievement480x800{width: 124px;height: 63px;position: fixed;left: 342px;top: 160px;background-image: url("../480x800/backachievement.png");}
.shareahievement480x800{width: 198px;height: 85px;position: fixed;left: 250px;top: 642px;background-image: url("../480x800/shareachievement.png");}
/*======================pantalla loose==============================================*/
.guiLooseContinuepostonwall480x800{	width: 176px;height: 66px;min-height: 66px;left: 32px;top: 682px;position: fixed;background-image: url(../480x800/guicontinuepostonwall.png);	}
.guiCoinsMuli480x800{position: fixed;width: 35px;height: 20px;left: 250px;top: 472px;color:#4e3e2d;font-family: Bubblegum;	font-size: 1.3em;}
.guiCoinsBomb480x800{position: fixed;width: 35px;height: 20px;left: 250px;top: 532px;color:#4e3e2d;font-family: Bubblegum;	font-size: 1.3em;}
.guiCoinsFreeze480x800{position: fixed;width: 35px;height: 20px;left: 250px;top: 592px;color:#4e3e2d;font-family: Bubblegum;	font-size: 1.3em;}
.guiLoosecerrar480x800{position: fixed;width: 45px;height: 40px;left: 394px;top: 96px;background-image: url("../480x800/btncerrar.png");}
/*======================pantalla win==============================================*/
.guiwincerrar480x800{position: fixed;width: 41px;height: 39px;left:396px;top: 76px;background-image: url("../480x800/btncerrar.png");}
.guiWinContinuepostonwall480x800{width: 179px;height: 70px;min-height:70px;left: 26px;top: 671px;position: fixed;background-image: url(../480x800/guicontinuepostonwall.png);}
/*======================pantalla pause==============================================*/	
.pausecontinue480x800{top: 350px;left: 140px;	width: 233px;height:135px; background-image: url("../480x800/pausecontinue.png");min-height: 135px;	position: absolute;}
.pausehelp480x800{top: 548px;left: 160px;	width: 244px;height: 187px;min-height:187px; background-image: url("../480x800/pausehelp.png");		position: absolute;}
.pausemenu480x800{top: 440px;	left: 150px;width: 224px;  min-height: 165px;	height: 165px; background-image: url("../480x800/pausemenu.png");	position: absolute;}
/* =========== pantalla life======================================================================================================*/
.lifecontainer480x800{width: 480px;height: 550px; background-image: url("../480x800/lifebackground.png");position: absolute;background-repeat:no-repeat;}
.lifeaddcoins480x800{width: 180px;height:68px; top:522px;left:273px;background-image: url("../480x800/lifeaddcoins.png");position: absolute;background-repeat:no-repeat;}
.lifegiveme480x800{width: 177px;height: 76px; top:519px;left:35px;background-image: url("../480x800/lifegiveme.png");position: absolute;background-repeat:no-repeat;}
.lifecoins480x800{font-family: Bubblegum;	font-size: 1.3em;color:#644000;height: 12px;	left: 300px;	position: fixed;top: 83px;	width: 13px;}
/*======================pantalla chooser =============================================================================================*/
.container480x800{position: absolute;width: 480px;height: 544px;background-image: url(../480x800/bg-choose.png); background-repeat:no-repeat ;}
.guiChooseFinishMultiCount480x800{font-family: Bubblegum;	font-size: 1.3em;color:#644000;height: 12px;	left: 154px;	position: fixed;top: 176px;	width: 13px;}
.guiChooseFinishBombCount480x800{font-family: Bubblegum;	font-size: 1.3em;color:#644000;height: 12px;	left: 149px;	position: fixed;top: 268px;	width: 13px;}
.guiChooseFinishFreezeCount480x800{	font-family: Bubblegum;	font-size: 1.3em;color:#644000;	height: 12px;	left: 153px;	position: fixed;top: 358px;	width: 13px;}

.guiFinishChooseBuyMulti480x800{background-image: url("../480x800/guigetx3.png");left: 300px;top: 160px;height: 39px;position: fixed;width: 96px;}
.guiFinishChooseBuyFreeze480x800{background-image: url("../480x800/guigetx3.png");left: 300px;top: 255px;height: 39px;position: fixed;width: 96px;}
.guiFinishChooseBuyBomb480x800{background-image: url("../480x800/guigetx3.png");left: 300px;top: 342px;height: 39px;position: fixed;  width: 96px;}

.guiChooseCoinsMuli480x800{position: fixed;width: 35px;height: 20px;left: 248px;top: 176px;font-family: Bubblegum;color:#644000;}
.guiChooseCoinsBomb480x800{position: fixed;width: 35px;height: 20px;left: 248px;top: 270;font-family: Bubblegum;color:#644000;}
.guiChooseCoinsFreeze480x800{position: fixed;width: 35px;height: 20px;left: 248px;top:360px;font-family: Bubblegum;color:#644000;}

.guiChooseAddCoins480x800{background-image: url("../480x800/add-coins.png");left: 310px;top: 472px;height: 42px;position: fixed;  width: 98px; background-repeat:no-repeat ;}
.guiFinishChooseCoins480x800{height: 26px;	left:123px;position: fixed;text-align: center;	top: 482px;	width: 74px;color:#644000;font-family: Bubblegum;	font-size: 1.3em;}
.guiChoosecerrar480x800{position: fixed;width: 41px;height: 39px;left: 394px;top: 68px;background-image: url("../480x800/btncerrar.png");}
/*======================pantalla home==============================================*/
.homelevel480x800{color: #4E3E2D;	font-family: Bubblegum;	font-size: 1.0em;	height: 60px;	top: 16px;	left: 26px;	
min-height: 62px;	padding-left: 17px;	padding-top: 32px;	position: fixed;	width: 82px;}
.homescore480x800{color: #4E3E2D;	font-family: Bubblegum;	font-size: 1.3em;	height: 75px;	left: 199px;
	min-height: 62px;	padding-top: 28px;	position: fixed;	text-align: center;	top: 18px;	width: 93px;}
.homerank480x800{color: #4E3E2D;	font-family: Bubblegum;	font-size: 1.3em;	height: 62px;	left: 310px;	min-height: 62px;	padding-left: 34px;	padding-top: 24px;
	position: fixed;	top: 16px;	width: 87px;}
.highscoreImage480x800{	background-image: url("../480x800/highscore.png");	height: 76px;left: 113px;min-height:76px;	position: fixed;top: 375px;	width: 215px;}
.archievementImage480x800{	background-image: url("../480x800/homeachievement.png");	height: 88px;left: 123px;min-height: 88px;	position: fixed;top: 466px;	width: 223px;}
.helpImage480x800{	background-image: url("../480x800/help.png");	height:94px;left: 353px;min-height: 94px;	position: fixed;top: 545px;	width: 127px;}
 .volumenofImage480x800{	background-image: url("../480x800/volumen.png");	height: 58px;left: 12px;min-height: 58px;	position: fixed;top: 728px;	width: 58px;}
.volumenonImage480x800{	background-image: url("../480x800/volumenon.png");	height: 61px;left: 10px;min-height: 61px;	position: fixed;top: 726px;	width: 62px;}

/* =========== pantalla bonus======================================================================================================*/
.containerbonus480x800{width:480px;height: 800px; background-image: url("../480x800/bonus.png");position: absolute;background-repeat:no-repeat;}
.bonusaccepyshare480x800{width: 171px;height: 95px; top:640px;left:170px;background-image: url("../480x800/bonusacept.png");position: absolute;background-repeat:no-repeat;}
.bonuscerrar480x800{position: absolute;width: 41px;height: 39px;left: 386px;top: 110px;background-image: url("../480x800/btncerrar.png");}
.bonusyouwon480x800{position: absolute;width: 100%;height: 110px;top:400px;background-position: center center;background-repeat:no-repeat;}
/*======================pantalla help==================================================================================*/
.containerhelp480x800{width: 480px;height: 800px; background-image: url("../480x800/helpbackground.png");position: absolute;}
.donehelp480x800{width: 201px;height: 83px; top:635px;left:250px;background-image: url("../480x800/helpdone.png");position: absolute;background-repeat:no-repeat;}
/*==============================================================================================================================*/

.pointsFrame480x800{
    color: #4E3E2D;
    font-family: Bubblegum;
    font-size: 1.2em;
    height: 110px;
    left: 120px;
    min-height: 62px;
    padding-top: 57px;
    position: fixed;
    text-align: center;
    top: 4px;
    width: 165px;
}

.levelsFrame480x800{
   color: #4E3E2D;
    font-family: Bubblegum;
    font-size: 1.2em;
    height: 76px;
    left: 11px;
    min-height: 62px;
    padding-left: 59px;
    padding-top: 45px;
    position: fixed;
    top: 18px;
    width: 118px;
}

.lifesFrame480x800{
    color: #FFFFFF;
    font-family: Bubblegum;
    font-size: 1.2em;
    height: 88px;
    left: 250px;
    min-height: 62px;
    padding-left: 60px;
    padding-top: 41px;
    position: fixed;
    top: 19px;
    width: 157px;
}
/*
.gobackFrame480x800{
	background-image: url("../480x800/backbutton.png");
	color: #4E3E2D;
	font-family: Bubblegum;
	font-size: 0.8em;
	height: 42px;
	left: 15px;
	min-height: 27px;
	position: fixed;
	top: 95px;
	width: 144px;
}
*/

.guiCoinsFrame480x800{
  color: #644000;
    font-family: Bubblegum;
    font-size: 1.2em;
    height: 59px;
    left: 348px;
    padding-left: 25px;
    padding-top: 21px;
    position: fixed;
    text-align: left;
    top: 41px;
    width: 152px;
}

.guiBuyCoinsFrame480x800{
	background-image: url("../480x800/guibuycoins.png");
	height: 45px;
	left: 416px;
	position: fixed;
	top: 73px;
	width: 46px;
}

.guiBuyFreezeFrame480x800{
	background-image: url("../480x800/guibuyfreeze.png");
  color: #644000;
    font-family: Bubblegum;
    font-size: 1.3em;
    height: 82px;
    left: 310px;
    padding-left: 60px;
    padding-top: 43px;
    position: fixed;
    top: 722px;
    width: 280px;
}

.guiBuyBombFrame480x800{
	background-image: url("../480x800/guibuybomb.png");
    color: #644000;
    font-family: Bubblegum;
    font-size: 1.3em;
    height: 82px;
    left: 184px;
    padding-left: 60px;
    padding-top: 43px;
    position: fixed;
    top: 718px;
    width: 180px;
}

.guiBuyMultiFrame480x800 {
    background-image: url("../480x800/guibuymulti.png");
    color: #644000;
    font-family: Bubblegum;
    font-size: 1.3em;
    height: 82px;
    left: 66px;
    padding-left: 60px;
    padding-top: 43px;
    position: fixed;
    top: 718px;
    width: 106px;
}

.guiPointsLeftFrame480x800{
	background-color: #FFFFFF;
	height: 355px;
	left: 453px;
	position: fixed;
	top: 290px;
	width: 8px;
}

.guiNextBallFrame480x800
{
	left: 137px;
	position: fixed;
	top: 720px;
}

.facebookFrame480x800{
	background-image: url("../480x800/facebook.png");
	height: 85px;
	left: 348px;
	min-height: 47px;
	position: fixed;
	top: 468px;
	width: 132px;
}

.coinsFrame480x800{
	background-image: url("../480x800/coins.png");
	height: 89px;
	left: 363px;
	min-height: 46px;
	position: fixed;
	top: 582px;
	width: 117px;
}

.addFriends480x800{
    background-image: url("../480x800/addfriends.png");
    height: 96px;
    left: 363px;
    min-height: 46px;
    position: fixed;
    top: 543px;
    width: 131px;
}

.leaderboardFrame480x800{
	background-image: url("../480x800/leaderboards.png");
	height: 88px;
	left: 109px;
	min-height: 88px;
	position: fixed;
	top: 568px;
	width: 225px;
}

.playImage480x800{
	background-image: url("../480x800/newbutton.png");
	height: 82px;
	left: 122px;
	min-height: 82px;
	position: fixed;
	right: auto;
	top: 282px;
	width: 192px;
}

.continueImage480x800{
	background-image: url("../480x800/continuebutton.png");
	height: 80px;
	left: 120px;
	min-height: 65px;
	position: fixed;
	top: 385px;
	width: 212px;
}

.optionsImage480x800{
	background-image: url("../480x800/optionbutton.png");
	height: 83px;
	left: 148px;
	min-height: 65px;
	position: fixed;
	right: auto;
	top: 500px;
	width: 203px;
}

.facebookButton480x800{
	background-image: url("../480x800/facebookbutton.png");
	height: 30px;
	left: 190px;
	min-height: 25px;
	position: fixed;
	top: 493px;
	width: 230px;
}

.loadingProgressBar480x800{
	height: 12px;
	left: 147px;
	min-height: 9px;
	position: fixed;
	top: 401px;
	width: 202px;
}

.guiProgressBar480x800{
    height: 411px;
    left: -2px;
    position: fixed;
    top: 330px;
    width: 60px;
}

.guiProgressBar480x800 > div{
	background-image: url('../480x800/progressbar.png');
	background-position: center top;
	position: absolute;
	width: 100%;
	bottom: 0px;
	top: auto;
}

.panda480x800{
	position: fixed;
	/*width: 90px;
	height: 111px;
	min-height: 111px;*/
	left: 80px;
	top: 530px;
}
/*
.guiFinishPoints480x800{
    color: #644000;
    font-family: Bubblegum;
    font-size: 1em;
    height: 20px;
    left: 47px;
    position: fixed;
    text-align: center;
    top: 380px;
    width: 90px;
}
*/
.guiFinishRank480x800{
    font-family: Bubblegum;
    font-size: 1.1em;
    height: 20px;
    left: 90px;
    position: fixed;
    text-align: center;
    top: 314px;
    width: 90px;
}
/*
.guiFinishLevel480x800{
    font-family: Bubblegum;
    font-size: 1.1em;
    height: 20px;
    left: 330px;
    position: fixed;
    text-align: center;
    top: 383px;
    width: 65px;
}
*/
/*
.guiFinishLifes480x800{
    font-family: Bubblegum;
    font-size: 1.4em;
    height: 20px;
    left: 100px;
    position: fixed;
    text-align: center;
    top: 280px;
    width: 65px;
    color:  #fff;
}
*/

.guiFinishCoins480x800{
    font-family: Bubblegum;
    font-size: 1.3em;
    height: 26px;
    left: 268px;
    position: fixed;
    text-align: center;
    top: 302px;
    width: 110px;
}

.guiFinishMoreCoins480x800{
    background-image: url("../480x800/guiaddbutton.png");
    height: 49px;
    left: 350px;
    position: fixed;
    top: 290px;
    width: 49px;
}

.guiFinishMultiCount480x800{
	font-family: Bubblegum;
	font-size: 1.3em;
	height: 12px;
	left: 148px;
	position: fixed;
	top: 472px;
	width: 13px;
}

.guiFinishBombCount480x800{
	font-family: Bubblegum;
	font-size: 1.3em;
	height: 12px;
	left: 146px;
	position: fixed;
	top: 533px;
	width: 13px;
}

.guiFinishFreezeCount480x800{
	font-family: Bubblegum;
	font-size: 1.3em;
	height: 12px;
	left: 148px;
	position: fixed;
	top: 596px;
	width: 13px;
}

.guiLooseScreen480x800{
    background-image: url("../480x800/guiloose.png");
    height: 699px;
    left: 0;
    position: fixed;
    top: 0;
    width: 480px;
}	

.guiWinScreen480x800{
    background-image: url("../480x800/guiwin.png");
    height: 692px;
    left: 0;
    position: fixed;
    top: 0;
    width: 480px;
}

.guiLooseContinue480x800{
    background-image: url("../480x800/guicontinueloose.png");
    height: 64px;
    left: 262px;
    min-height: 64px;
    position: fixed;
    top: 680px;
    width: 176px;
}

.guiWinContinue480x800{
	position: fixed;
	background-image: url(../480x800/guicontinueloose.png);
	width: 183px;
	height: 68px;
	min-height: 68px;
	left: 260px;
	top: 670px;
}


.guiFinishBuyMulti480x800{
    background-image: url("../480x800/guigetx3.png");
    left: 318px;
    height: 39px;
    position: fixed;
    top: 456px;
    width: 99px;
}

.guiFinishBuyFreeze480x800{
    background-image: url("../480x800/guigetx3.png");
    height: 39px;
    left: 318px;
    position: fixed;
    top: 578px;
     width: 99px;
}

.guiFinishBuyBomb480x800{
     background-image: url("../480x800/guigetx3.png");
    height: 39px;
    left: 318px;
    position: fixed;
    top: 516px;
     width: 99px;
}

.guiBalanceCartel480x800{
	position: fixed;
	background-image: url(../480x800/guibalancescreen.png);
	top: 0px;
	left: 0px;
	height: 390px;
	width: 480px;
}

.guiBalanceBuyButton480x800{
    background-image: url("../480x800/guibalancemore.png");
    height: 110px;
    left: 250px;
    position: fixed;
    top: 270px;
    width: 210px;
}

.guiBalanceOkButton480x800{
    background-image: url("../480x800/guibalanceok.png");
    height: 110px;
    left: 10px;
    position: fixed;
    top: 280px;
    width: 230px;
}

.guiBalanceCoins480x800{
    font-family: Bubblegum;
    font-size: 1.2em;
    height: 30px;
    left: 345px;
    position: fixed;
    top: 140px;
    width: 100px;
}

.guiLoseAllLifes480x800{
    background-image: url("../480x800/guiendgame.png");
    height: 398px;
    left: 0;
    position: fixed;
    top: 0;
    width: 480px;
}

.guiLoseAllLifesOk480x800{
    background-image: url("../480x800/guiendgameok.png");
    height: 64px;
    left: 90px;
    position: fixed;
    top: 485px;
    width: 300px;
}

.guiLoseAllLifesBuy480x800{
    background-image: url("../480x800/guiendgamebuy.png");
    height: 155px;
    left: 90px;
    position: fixed;
    top: 340px;
    width: 303px;
}

.guiNoSoftgamesScreen480x800{
	background-image: url(../480x800/guisoftgamesscreen.png);
	position: fixed;
	height: 407px;
	width: 480px;
	top: 0px;
	left: 0px;
}

.guiNoSoftgamesButton480x800{
    background-image: url("../480x800/guisoftgamesbutton.png");
    height: 148px;
    left: 150px;
    position: fixed;
    top: 300px;
    width: 272px;
}

.guiNoInetErrorScreen480x800{
	background-image: url("../480x800/guinoinetscreen.png");
	height: 417px;
	left: 0;
	position: fixed;
	top: 0;
	width: 480px;
}

.guiNoInetErrorButton480x800{
    background-image: url("../480x800/guinoinetbutton.png");
    height: 115px;
    left: 200px;
    position: fixed;
    top: 340px;
    width: 210px;
}

.guiNoFaceErrorScreen480x800{
	background-image: url("../480x800/guinofacescreen.png");
	height: 400px;
	left: 0;
	position: fixed;
	top: 0;
	width: 480px;
}

.guiNoFaceErrorButton480x800{
    background-image: url("../480x800/guinofacebutton.png");
    height: 137px;
    left: 150px;
    position: fixed;
    top: 250px;
    width: 274px;
}

.guiPreviousScreen480x800{
	background-image: url("../480x800/guipreviousscreen.png");
	height: 400px;
	left: 0;
	position: fixed;
	top: 0;
	width: 480px;
}


.guiPreviousButton480x800{
    background-image: url("../480x800/guipreviousbutton.png");
    height: 150px;
    left: 50px;
    position: fixed;
    top: 340px;
    width: 307px;
}

.guiResolutionScreen480x800{
	background-image: url("../480x800/guiresolutionscreen.png");
	height: 420px;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 480px;
}

.guiResolutionButton480x800{
    background-image: url("../480x800/guiresolutionbutton.png");
    height: 151px;
    left: 140px;
    position: fixed;
    top: 300px;
    width: 264px;
}

.guiNewLifesErrorScreen480x800{
	background-image: url("../480x800/guilifeserrorscreen.png");
	height: 400px;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 480px;
}

.guiNewLifesErrorButton480x800{
    background-image: url("../480x800/guilifeserrorbutton.png");
    height: 140px;
    left: 150px;
    position: fixed;
    top: 340px;
    width: 220px;
}


.guiLooseMenu480x800{
	background-image: url("../480x800/guimenu.png");
	height: 58px;
	left: 107px;
	min-height: 20px;
	position: fixed;
	top: 402px;
	width: 149px;
}

.guiBuyBombScreen480x800{
	position: fixed;
	background-image: url(../480x800/buybombcartel.png);
    height: 422px;
    left: 0;
    position: fixed;
    top: 0;
    width: 480px;
}

.guiBuyBombOk480x800{
    background-image: url("../480x800/buybombok.png");
    height: 121px;
    left: 15px;
    position: fixed;
    top: 308px;
    width: 215px;
}

.guiBuyBombNo480x800{
    background-image: url("../480x800/buybombno.png");
    height: 107px;
    left: 236px;
    position: fixed;
    top: 286px;
    width: 219px;
}

.guiBuyMultiScreen480x800{
    background-image: url("../480x800/buymulticartel.png");
    height: 389px;
    left: 0;
    position: fixed;
    top: 0;
    width: 480px;
}

.guiBuyMultiOk480x800{
    background-image: url("../480x800/buymultiok.png");
    height: 80px;
    left: 15px;
    position: fixed;
    top: 308px;
    width: 215px;
}

.guiBuyMultiNo480x800{
    background-image: url("../480x800/buymultino.png");
    height: 107px;
    left: 243px;
    position: fixed;
    top: 288px;
    width: 219px;
}

.guiBuyFreezeScreen480x800{
	position: fixed;
	background-image: url(../480x800/buyfreezecartel.png);
    height: 366px;
    left: 0;
    position: fixed;
    top: 0;
    width: 480px;
}

.guiBuyFreezeOk480x800{
    background-image: url("../480x800/buyfreezeok.png");
    height: 121px;
    left: 20px;
    position: fixed;
    top: 300px;
    width: 215px;
}

.guiBuyFreezeNo480x800{
    background-image: url("../480x800/buyfreezeno.png");
    height: 107px;
    left: 242px;
    position: fixed;
    top: 280px;
    width: 219px;
}

.uiAlert480x800{
	font-family: Bubblegum;
	font-size: 1.1em;
	color: #644000;
	position: fixed;
	background-image: url(../backgrounddiv.png);
	background-repeat: repeat;
	width: 100%;
	height: 100%;
	min-height: 100%;
	left: 0px;
	top: 0px;
	padding: 0 0 0 0;
}

.uiAlertImage480x800{
	background-image: url("../480x800/alertscreen.png");
	height: 324px;
	left: 0;
	min-height: 263px;
	position: fixed;
	top: 0;
	width: 360px;
}

.uiAlertButton480x800{
	background-image: url("../480x800/alertbutton.png");
	display: table-cell;
	height: 123px;
	left: 73px;
	max-width: 201px;
	min-height: 117px;
	position: fixed;
	text-align: center;
	top: 292px;
	vertical-align: middle;
	width: 213px;
}

.uiAlertButton480x800 > div {
	height: 50px;
	left: 30px;
	position: absolute;
	top: 40px;
	width: 155px;
}


.uiAlert480x800{
	font-family: Bubblegum;
	font-size: 1.1em;
	color: #644000;
	position: fixed;
	background-image: url(../backgrounddiv.png);
	background-repeat: repeat;
	width: 100%;
	height: 100%;
	min-height: 100%;
	left: 0px;
	top: 0px;
	padding: 0 0 0 0;
}

.uiAlertImage480x800{
	position: fixed;
	background-image: url(../480x800/alertscreen.png);
	width: 320px;
	height: 263px;
	min-height: 263px;
	left: 0px;
	top: 0px;
}

.uiAlertButton480x800{
	position: fixed;
	background-image: url(../480x800/alertbutton.png);
	width: 200px;
	max-width: 201px;
	height: 117px;
	min-height: 117px;
	top: 235px;
	left: 90px;
	/*padding-top: 50px;
	padding-left: 27px;*/
	text-align: center;
	display: table-cell;
	vertical-align: middle
}

.uiAlertButton480x800 > div {
	position: absolute;
	height: 50px;
	width: 140px;
	top: 40px;
	left: 30px;
}

.uiAlertText480x800{
	position: absolute;
	width: 244px;
	height: 104px;
	min-height: 263px;
	text-align: center;
	left: 42px;
	top: 115px;
}

.uiHighscoreImage480x800{
	background-image: url("../480x800/highscorescreen.png");
	position: fixed;
	width: 480px;
	height: 420px;
	left: 0px;
	top: 0px;
}

.uiHighscoreButton480x800{
    background-image: url("../480x800/highscorebutton.png");
    height: 152px;
    left: 110px;
    position: fixed;
    top: 380px;
    width: 260px;
}

.initScreen480x800{
	background-image: url(../480x800/loadingscreen.png);
}

.uiPauseButton480x800{
	
	height: 50px;
	left: 402px;
	min-height: 9px;
	position: fixed;
	top: 5px;
	width: 63px;
}

.uiPauseScreen480x800{
	background-image: url("../480x800/pausecartel.png");
	height: 398px;
	left: 0;
	min-height: 398px;
	position: fixed;
	top: 0;
	width: 480px;
}

.leaderboard480x800{
	position: absolute;
	top: 0px;
	left: 0px;
	background-image: url(../480x800/leaderboardscreen.png);
}

.leaderboardTabs480x800{
	position: absolute;
	top: 180px;
	left: 135px;
	width: 158px;
	height: 20px;
	min-height: 20px;
}

.leaderboardTab480x800{ 
	color: #644000;
	font-family: bubblegum;
	font-size: 1.1em;
	height: 210px;
	left: 88px;
	min-height: 97px;
	position: absolute;
	top: 354px;
	width: 340px;
}

.leaderboardTabHighscore480x800 { 
	background-image: url("../480x800/leaderboardhighscore.png");
	height: 96px;
	left: 24px;
	min-height: 96px;
	position: absolute;
	top: 600px;
	width: 157px;
}

.leaderboardTabFriends480x800 { 
	background-image: url("../480x800/leaderboardfriends.png");
	height: 95px;
	left: 296px;
	min-height: 95px;
	position: absolute;
	top: 600px;
	width: 149px;
}

.leaderboardTabHighlight480x800
{
	height: 60px;
}

.leaderboardBackMenu480x800 { 
	background-image: url("../480x800/leaderboardmenu.png");
	height: 94px;
	left: 143px;
	min-height: 65px;
	position: absolute;
	top: 617px;
	width: 194px;
}

.optionsFacebook480x800 {
	background-image: url("../480x800/optionsfacebook.png");
	height: 85px;
	left: 170px;
	min-height: 61px;
	position: fixed;
	top: 464px;
	width: 134px;
}

.optionsCoins480x800 {
	background-image: url("../480x800/optionscoins.png");
	height: 166px;
	left: 266px;
	min-height: 115px;
	position: fixed;
	top: 458px;
	width: 165px;
}

.optionsLeaderboards480x800 {
	background-image: url("../480x800/optionsleaderboard.png");
	height: 125px;
	left: 50px;
	min-height: 92px;
	position: fixed;
	top: 487px;
	width: 160px;
}

.optionsVolumeOn480x800 {
    height: 76px;
    left: 185px;
    min-height: 61px;
    position: fixed;
    top: 361px;
    width: 92px;
	background-image: url(../480x800/optionsvolumenon.png);
}

.optionsVolumeOff480x800 {
    height: 73px;
    left: 291px;
    min-height: 61px;
    position: fixed;
    top: 353px;
    width: 92px;
	background-image: url(../480x800/optionsvolumenoff.png);
}

.optionsMenu480x800 {
	background-image: url("../480x800/optionsmenu.png");
	height: 160px;
	left: 202px;
	min-height: 124px;
	position: fixed;
	top: 547px;
	width: 143px;
}

.optionsLogout480x800 {
    background-image: url("../480x800/optionslogout.png");
    height: 149px;
    left: 45px;
    min-height: 124px;
    position: fixed;
    top: 539px;
    width: 151px;
}