@font-face {
	font-family: Bubblegum;
	src: url(../grobold.ttf);
}

/*
*		640x960
*/
/*======================pantalla loose==============================================*/
.guiLooseContinuepostonwall640x960{	width: 238px;height: 131px;min-height: 131px;left: 32px;top: 752px;position: fixed;background-image: url(../640x960/guicontinuepostonwall.png);	}
.guiCoinsMuli640x960{position: fixed;width: 35px;height: 20px;left: 250px;top: 472px;color:#4e3e2d;font-family: Bubblegum;	font-size: 1.3em;}
.guiCoinsBomb640x960{position: fixed;width: 35px;height: 20px;left: 250px;top: 532px;color:#4e3e2d;font-family: Bubblegum;	font-size: 1.3em;}
.guiCoinsFreeze640x960{position: fixed;width: 35px;height: 20px;left: 250px;top: 592px;color:#4e3e2d;font-family: Bubblegum;	font-size: 1.3em;}
.guiLoosecerrar640x960{position: fixed;width: 45px;height: 40px;left: 394px;top: 96px;background-image: url("../640x960/btncerrar.png");}
/*======================pantalla pause==============================================*/	
.pausecontinue640x960{top: 390px;left: 140px;	width: 327px;height:186px; background-image: url("../640x960/pausecontinue.png");min-height: 135px;	position: absolute;}
.pausehelp640x960{top: 672px;left: 170px;	width: 328px;height: 267px;min-height:187px; background-image: url("../640x960/pausehelp.png");		position: absolute;}
.pausemenu640x960{top: 520px;	left: 150px;width: 305px;  min-height: 218px;	height: 220px; background-image: url("../640x960/pausemenu.png");	position: absolute;}
/* =========== pantalla life======================================================================================================*/
.lifecontainer640x960{width: 640px;height: 632px; background-image: url("../640x960/lifebackground.png");position: absolute;background-repeat:no-repeat;}
.lifeaddcoins640x960{width: 238px;height:130px; top:612px;left:363px;background-image: url("../640x960/lifeaddcoins.png");position: absolute;background-repeat:no-repeat;}
.lifegiveme640x960{width: 233px;height: 138px; top:612px;left:35px;background-image: url("../640x960/lifegiveme.png");position: absolute;background-repeat:no-repeat;}
.lifecoins640x960{font-family: Bubblegum;	font-size: 1.3em;color:#644000;height: 12px;	left: 400px;	position: fixed;top: 95px;	width: 13px;}
/*======================pantalla chooser =============================================================================================*/
body, html { overflow: hidden;}
.container640x960{position: absolute;width: 640px;height: 784px;background-image: url(../640x960/bg-choose.png); background-repeat:no-repeat ; }
.guiChooseFinishMultiCount640x960{font-family: Bubblegum;	font-size: 1.5em;color:#644000;height: 12px;	left: 201px;	position: fixed;top: 278px;	width: 13px;}
.guiChooseFinishBombCount640x960{font-family: Bubblegum;	font-size: 1.5em;color:#644000;height: 12px;	left: 201px;	position: fixed;top: 405px;	width: 13px;}
.guiChooseFinishFreezeCount640x960{	font-family: Bubblegum;	font-size: 1.5em;color:#644000;	height: 12px;	left: 201px;	position: fixed;top: 528px;	width: 13px;}

.guiFinishChooseBuyMulti640x960{background-image: url("../640x960/guigetx3.png");left: 420px;top: 250px;height: 48px;position: fixed;width: 127px;}
.guiFinishChooseBuyFreeze640x960{background-image: url("../640x960/guigetx3.png");left: 420px;top: 506px;height: 48px;position: fixed;width: 127px;}
.guiFinishChooseBuyBomb640x960{background-image: url("../640x960/guigetx3.png");left: 420px;top: 380px;height: 48px;position: fixed;  width: 127px;}

.guiChooseCoinsMuli640x960{position: fixed;width: 35px;height: 20px;left: 335px;top: 270px;font-family: Bubblegum;font-size:1.3em;color:#644000;}
.guiChooseCoinsBomb640x960{position: fixed;width: 35px;height: 20px;left: 335px;top: 400;font-family: Bubblegum;font-size:1.3em;color:#644000;}
.guiChooseCoinsFreeze640x960{position: fixed;width: 35px;height: 20px;left: 335px;top:520px;font-family: Bubblegum;font-size:1.3em;color:#644000;}

.guiChooseAddCoins640x960{background-image: url("../640x960/add-coins.png");left: 422px;top: 682px;height: 53px;position: fixed;  width: 133px; background-repeat:no-repeat ;}
.guiFinishChooseCoins640x960{height: 26px;	left:180px;position: fixed;text-align: center;	top: 700px;	width: 74px;color:#644000;font-family: Bubblegum;	font-size: 1.3em;}
.guiChoosecerrar640x960{position: fixed;width: 48px;height: 52px;left: 540px;top: 120px;background-image: url("../640x960/btncerrar.png");}
/* =========== pantalla bonus======================================================================================================*/
.containerbonus640x960{width:640px;height: 960px; background-image: url("../640x960/bonus.png");position: absolute;background-repeat:no-repeat;}
.bonusaccepyshare640x960{width: 245px;height: 144px; top:749px;left:220px;background-image: url("../640x960/bonusacept.png");position: absolute;background-repeat:no-repeat;}
.bonuscerrar640x960{position: absolute;width: 53px;height: 50px;left: 520px;top: 34px;background-image: url("../640x960/btncerrar.png");}
.bonusyouwon640x960{position: absolute;width: 100%;height: 110px;top:430px;background-position: center center;background-repeat:no-repeat;}
/*======================pantalla help==================================================================================*/
.containerhelp640x960{width: 640px;height: 960px; background-image: url("../640x960/helpbackground.png");position: absolute;}
.donehelp640x960{width: 263px;height: 112px; top:844px;left:320px;background-image: url("../640x960/helpdone.png");position: absolute;background-repeat:no-repeat;}
/*=========================pantalla achievement=================================================================================================================*/
.containerachievement640x960{position: absolute;width: 640px;height: 960px;background-image: url(../640x960/achievement.png); background-repeat:no-repeat ;}
.generalLeaderboardachievement640x960{left: 70px;top: 350px; width: 500px;position: absolute;height:460px;}
.guihighscoretabachievement640x960 {color: #644000; }
.guihighscoretabachievement640x960 td{padding-bottom:20px;padding-left:2px; }
.levelarchievement640x960{font-family: Bubblegum;font-size:22px;color: #644000;}
.rankarchievement640x960{font-family: Bubblegum;font-size:15px;color: #644000;}
.celda1achievement640x960{width: 340px;}
.celda2achievement640x960{}
.celda3achievement640x960{}
.transparenteachievement640x960{ width: 368px; height: 32px; position: absolute; top: 0px: left: 0px;background-image: url(../640x960/transparencia.png);}
.okachievement640x960{width: 50px; height: 49px;background-image: url(../640x960/okachievement.png);background-repeat:no-repeat ;}
.okachievement320x480{width: 50px !important; height: 49px !important;background-image: url(../640x960/okachievement.png) !important;background-repeat:no-repeat ;}
.avatarachievement640x960{width: 44px; height: 45px;background-image: url(../640x960/borrame.png);}
.cuadradoachievement{width: 46px; height: 47px; margin-left: 50px;background-image: url(../640x960/cuadradoachievement.png);}
.cuadradoachievement640x960{width: 46px; height: 47px; margin-left: 50px;background-image: url(../640x960/cuadradoachievement.png);}
.backachievement640x960{width: 155px;height: 90px;position: fixed;left: 460px;top: 218px;background-image: url("../640x960/backachievement.png");}
.shareahievement640x960{width: 267px;height: 116px;position: fixed;left: 320px;top: 840px;background-image: url("../640x960/shareachievement.png");}
/*======================pantalla home==============================================*/
.homelevel640x960{color: #4E3E2D;	font-family: Bubblegum;	font-size: 1.7em;	height: 60px;	top: 32px;	left: 61px;	
min-height: 62px;	padding-left: 17px;	padding-top: 32px;	position: fixed;	width: 82px;}
.homescore640x960{color: #4E3E2D;	font-family: Bubblegum;	font-size: 1.7em;	height: 75px;	left: 286px;
	min-height: 62px;	padding-top: 28px;	position: fixed;	text-align: center;	top: 32px;	width: 93px;}
.homerank640x960{color: #4E3E2D;	font-family: Bubblegum;	font-size: 1.7em;	height: 62px;	left: 440px;	min-height: 62px;	padding-left: 34px;	padding-top: 24px;
	position: fixed;	top: 29px;	width: 87px;}
.highscoreImage640x960{	background-image: url("../640x960/highscore.png");	height: 103px;left: 149px;min-height:103px;	position: fixed;top: 470px;	width: 282px;}
.archievementImage640x960{	background-image: url("../640x960/homeachievement.png");	height: 117px;left: 160px;min-height: 117px;	position: fixed;top: 590px;	width: 299px;}
.helpImage640x960{	background-image: url("../640x960/help.png");	height:127px;left: 473px;min-height: 127px;	position: fixed;top: 610px;	width: 167px;}
 .volumenofImage640x960{	background-image: url("../640x960/volumen.png");	height: 69px;left: 12px;min-height: 69px;	position: fixed;top: 864px;	width: 81px;}
.volumenonImage640x960{	background-image: url("../640x960/volumenon.png");	height: 69px;left: 12px;min-height: 69px;	position: fixed;top: 864px;	width: 81px;}
/*======================pantalla ingame==============================================*/
#frameBackground{ width: 640px !important; height: 870px !important; background-position: center 140px !important; position: absolute; !important; left: 0px; }
#guicanon640x960{background-image: url("../640x960/cannon.png");position: absolute;width: 200px;height: 150px;left:230px;top: 690px;	}
.awesome640x960{ width: 100%;height: 75px;background-image: url("../640x960/awesome.png") ;  position:absolute;background-position: center ; top:158px;}
.great640x960{ width: 100%;height: 75px;background-image: url("../640x960/great.png") ;  position:absolute;background-position: center ; top:158px;}
.combo640x960{ width: 100%;height: 75px;background-image: url("../640x960/combo.png") ;  position:absolute;background-position: center ; top:158px;}
.onfire640x960{ width: 100%;height: 75px;background-image: url("../640x960/onfire.png") ;  position:absolute;background-position: center ; top:158px;}
.going640x960{ width: 100%;height: 75px;background-image: url("../640x960/going.png") ;  position:absolute;background-position: center ; top:158px;}
.guipelotapanda640x960{	left: 206px;position: fixed;top: 780px;}
.guipelotapanda640x960 img {width: 59.375px; height: 59.375px; min-height: 59.375px;}
.guipelotacanon640x960{	left: 309px;position: fixed;top: 750px;}
.guipelotacanon640x960 img  {width: 59.375px; height: 59.375px; min-height: 59.375px;}

/* #contenedorgreat320x480{position: absolute;width: 100%;top:164px;}
#great320x480{ width: 135px;height: 75px;background-image: url("../320x480/great320.png"); margin: 0 auto;}
*/
/* =========== ingame para el trofeo======================================================================================================*/
.containerborrar640x960{width: 640px;height: 960px; background-image: url("../640x960/background.jpg");position: absolute;}
.guiProgressBartrofeo640x960{height: 504px;  left: -1px; position: fixed; top: 330px; width: 63px;background-image: url(../640x960/progressbar.png);background-repeat:no-repeat;}
.guiProgressBarmedio640x960{width: 7px;height: 270px;margin-left:13px;margin-top:63px}
.guiProgressBarinterna640x960{margin-left:12px;width: 14px;height: 437px;background-image: url("../640x960/progressbarinterna.png");background-repeat:no-repeat;}
/*==================================================================================================================================================*/

.pointsFrame640x960{
color: #4E3E2D;
    font-family: Bubblegum;
    font-size: 1.8em;
    height: 140px;
    left: 170px;
    min-height: 62px;
    padding-top: 77px;
    position: fixed;
    text-align: center;
    top: 6px;
    width: 182px;
}

.levelsFrame640x960{
color: #4E3E2D;
    font-family: Bubblegum;
    font-size: 1.7em;
    height: 121px;
    left: 7px;
    min-height: 62px;
    padding-left: 75px;
    padding-top: 60px;
    position: fixed;
    top: 26px;
    width: 162px;
}

.lifesFrame640x960{
   color: #FFFFFF;
    font-family: Bubblegum;
    font-size: 1.8em;
    height: 129px;
    left: 340px;
    min-height: 62px;
    padding-left: 67px;
    padding-top: 42px;
    position: fixed;
    top: 40px;
    width: 149px;
}
/*
.gobackFrame640x960{
	background-image: url("../640x960/backbutton.png");
	color: #4E3E2D;
	font-family: Bubblegum;
	font-size: 0.8em;
	height: 56px;
	left: 25px;
	min-height: 27px;
	position: fixed;
	top: 95px;
	width: 173px;	
}
*/

.guiCoinsFrame640x960{
   color: #644000;
    font-family: Bubblegum;
    font-size: 1.4em;
    height: 75px;
    left: 465px;
    padding-left: 40px;
    padding-top: 23px;
    position: fixed;
    text-align: left;
    top: 61px;
    width: 198px;
}

.guiBuyCoinsFrame640x960{
	background-image: url("../640x960/guibuycoins.png");
 height: 78px;
    left: 550px;
    position: fixed;
    top: 94px;
    width: 77px;
}

.guiBuyFreezeFrame640x960{
	background-image: url("../640x960/guibuyfreeze.png");
color: #644000;
    font-family: Bubblegum;
    font-size: 1.5em;
    height: 140px;
    left: 410px;
    padding-left: 82px;
    padding-top: 60px;
    position: fixed;
    top: 854px;
    width: 139px;
}

.guiBuyBombFrame640x960{
    background-image: url("../640x960/guibuybomb.png");
  color: #644000;
    font-family: Bubblegum;
    font-size: 1.5em;
    height: 140px;
    left: 254px;
    padding-left: 82px;
    padding-top: 60px;
    position: fixed;
    top: 854px;
    width: 139px;
}

.guiBuyMultiFrame640x960{
    background-image: url("../640x960/guibuymulti.png");
    color: #644000;
    font-family: Bubblegum;
    font-size: 1.5em;
    height: 140px;
    left: 104px;
    padding-left: 82px;
    padding-top: 60px;
    position: fixed;
    top: 854px;
    width: 139px;
}

.guiPointsLeftFrame640x960{
	background-color: #FFFFFF;
	height: 430px;
	left: 598px;
	position: fixed;
	top: 379px;
	width: 10px;
}

.guiNextBallFrame640x960
{
    left: 180px;
    position: fixed;
    top: 860px;
}

.guiPandaBag640x960{
	position: fixed;
	background-image: url(../640x960/pandabag.png);
	top: 440px;
	left: 98px;
	width: 60px;
	height: 43px;
	/*z-index: ;*/
}

.facebookFrame640x960{
	background-image: url("../640x960/facebook.png");
	height: 95px;
	left: 474px;
	min-height: 47px;
	position: fixed;
	top: 590px;
	width: 166px;
}

.coinsFrame640x960{
	background-image: url("../640x960/coins.png");
	height: 101px;
	left: 497px;
	min-height: 46px;
	position: fixed;
	top: 725px;
	width: 143px;
}

.addFriends640x960{
    background-image: url("../640x960/addfriends.png");
    height: 116px;
    left: 489px;
    min-height: 46px;
    position: fixed;
    top: 685px;
    width: 175px;
}

.leaderboardFrame640x960{
	background-image: url("../640x960/leaderboards.png");
    height: 120px;
    left: 148px;
    min-height: 120px;
    position: fixed;
    top: 730px;
    width: 295px;
}

.playImage640x960{
	background-image: url("../640x960/newbutton.png");
	height: 101px;
	left: 171px;
	min-height: 65px;
	position: fixed;
	right: auto;
	top: 350px;
	width: 259px;
}

.continueImage640x960{
	background-image: url("../640x960/continuebutton.png");
	height: 100px;
	left: 170px;
	min-height: 65px;
	position: fixed;
	top: 490px;
	width: 266px;
}

.optionsImage640x960{
	background-image: url("../640x960/optionbutton.png");
	height: 104px;
	left: 207px;
	min-height: 65px;
	position: fixed;
	right: auto;
	top: 625px;
	width: 264px;
}

.facebookButton640x960{
	background-image: url("../640x960/facebookbutton.png");
	height: 51px;
	left: 255px;
	min-height: 25px;
	position: fixed;
	top: 605px;
	width: 310px;
}

.loadingProgressBar640x960{
	height: 19px;
	left: 203px;
	min-height: 9px;
	position: fixed;
	top: 518px;
	width: 265px;
}

.guiProgressBar640x960{
    height: 633px;
    left: 2px;
    position: fixed;
    top: 210px;
    width: 108px;
}

.guiProgressBar640x960 > div{
	position: absolute;
	background-image: url(../640x960/progressbar.png);
	background-position: center top;
	width: 100%;
	bottom: 0px;
	top: auto;
}

.panda640x960{
	left: 145px;
    position: fixed;
    top: 610px;
	/*width: 90px;
	height: 111px;
	min-height: 111px;*/
}
/*
.guiFinishPoints640x960{
    color: #644000;
    font-family: Bubblegum;
    font-size: 0.8em;
    height: 40px;
    left: 40px;
    padding-left: 5px;
    padding-top: 11px;
    position: fixed;
    text-align: center;
    top: 535px;
    width: 160px;
}
*/
.guiFinishRank640x960{
     font-family: Bubblegum;
    font-size: 1.1em;
    height: 40px;
    left: 120px;
    position: fixed;
    text-align: center;
    top: 326px;
    width: 120px;
}
/*
.guiFinishLevel640x960{
    font-family: Bubblegum;
    font-size: 0.9em;
    height: 40px;
    left: 440px;
    position: fixed;
    text-align: center;
    top: 554px;
    width: 100px;
}

.guiFinishLifes640x960{
    color: #FFFFFF;
    font-family: Bubblegum;
    font-size: 1.2em;
    height: 40px;
    left: 152px;
    padding-left: 13px;
    padding-top: 5px;
    position: fixed;
    top: 410px;
    width: 40px;
}
*/

.guiFinishCoins640x960{
    font-family: Bubblegum;
    font-size: 1.2em;
    height: 40px;
    left: 354px;
    position: fixed;
    text-align: center;
    top: 310px;
    width: 148px
}

.guiFinishMoreCoins640x960{
    background-image: url("../640x960/guiaddbutton.png");
    height: 68px;
    left: 457px;
    position: fixed;
    top: 320px;
    width: 68px;
}

.guiFinishMultiCount640x960{
   font-family: Bubblegum;
    font-size: 1.3em;
    height: 12px;
    left: 196px;
    position: fixed;
    top: 536px;
    width: 13px;
}

.guiFinishBombCount640x960{
  font-family: Bubblegum;
    font-size: 1.3em;
    height: 12px;
    left: 192px;
    position: fixed;
    top: 619px;
    width: 13px;
}

.guiFinishFreezeCount640x960{
 font-family: Bubblegum;
    font-size: 1.3em;
    height: 12px;
    left: 192px;
    position: fixed;
    top: 694px;
    width: 13px;
}
/*
.guiFinishPoints640x960 > p { 
	vertical-align: middle;
}
*/

.guiLooseScreen640x960{
	background-image: url(../640x960/guiloose.png);	
	position: fixed;
	top: 0px;
	left: 0px;
	width: 640px;
	height: 793px;
}	

.guiWinScreen640x960{
	background-image: url(../640x960/guiwin.png);	
	position: fixed;
	top: 0px;
	left: 0px;
	width: 640px;
	height: 750px;
}

.guiLooseContinue640x960{
    background-image: url("../640x960/guicontinueloose.png");
    height: 132px;
    left: 342px;
    min-height: 132px;
    position: fixed;
    top: 750px;
    width: 241px;
}

.guiWinContinue640x960{
	position: fixed;
	background-image: url(../640x960/guicontinuewin.png);
	width: 276px;
	height: 218px;
	min-height: 218px;
	left: 180px;
	top: 715px;
}

.guiFinishBuyMulti640x960{
    background-image: url("../640x960/guigetx3.png");
   height: 48px;
    left: 410px;
    position: fixed;
    top: 510px;
    width: 127px;
}

.guiFinishBuyFreeze640x960{
    background-image: url("../640x960/guigetx3.png");
   height: 48px;
    left: 410px;
    position: fixed;
    top: 674px;
    width: 127px;
}

.guiFinishBuyBomb640x960{
    background-image: url("../640x960/guigetx3.png");
   height: 48px;
    left: 410px;
    position: fixed;
    top: 600px;
    width: 127px;

}

.guiBalanceCartel640x960{
	position: fixed;
	background-image: url(../640x960/guibalancescreen.png);
	top: 0px;
	left: 0px;
	height: 569px;
	width: 640px;
}

.guiBalanceBuyButton640x960{
    background-image: url("../640x960/guibalancemore.png");
    height: 150px;
    left: 270px;
    position: fixed;
    top: 410px;
    width: 306px;
}

.guiBalanceOkButton640x960{
    background-image: url("../640x960/guibalanceok.png");
    height: 200px;
    left: 15px;
    position: fixed;
    top: 385px;
    width: 306px;
}

.guiBalanceCoins640x960{
    font-family: Bubblegum;
    font-size: 1em;
    height: 40px;
    left: 470px;
    position: fixed;
    top: 234px;
    width: 100px;
}

.guiLoseAllLifes640x960{
    background-image: url("../640x960/guiendgame.png");
    height: 541px;
    left: 0;
    position: fixed;
    top: 0;
    width: 640px;
}

.guiLoseAllLifesOk640x960{
    background-image: url("../640x960/guiendgameok.png");
    height: 95px;
    left: 140px;
    position: fixed;
    top: 680px;
    width: 419px;
}

.guiLoseAllLifesBuy640x960{
    background-image: url("../640x960/guiendgamebuy.png");
    height: 213px;
    left: 130px;
    position: fixed;
    top: 480px;
    width: 451px;
}

.guiNoSoftgamesScreen640x960{
	background-image: url(../640x960/guisoftgamesscreen.png);
	position: fixed;
	height: 527px;
	width: 640px;
	top: 0px;
	left: 0px;
}

.guiNoSoftgamesButton640x960{
	background-image: url(../640x960/guisoftgamesbutton.png);
	position: fixed;
	height: 183px;
	width: 363px;
	top: 390px;
	left: 200px;
}

.guiNoInetErrorScreen640x960{
	background-image: url("../640x960/guinoinetscreen.png");
	height: 557px;
	left: 0;
	position: fixed;
	top: 0;
	width: 6400px;
}

.guiNoInetErrorButton640x960{
	background-image: url("../640x960/guinoinetbutton.png");
	height: 168px;
	left: 225px;
	position: fixed;
	top: 470px;
	width: 280px;
}

.guiNoFaceErrorScreen640x960{
	background-image: url("../640x960/guinofacescreen.png");
	height: 557px;
	left: 0;
	position: fixed;
	top: 0;
	width: 640px;
}

.guiNoFaceErrorButton640x960{
	background-image: url("../640x960/guinofacebutton.png");
	height: 166px;
	left: 200px;
	position: fixed;
	top: 370px;
	width: 327px;
}

.guiPreviousScreen640x960{
	background-image: url("../640x960/guipreviousscreen.png");
	height: 553px;
	left: 0;
	position: fixed;
	top: 0;
	width: 640px;
}


.guiPreviousButton640x960{
	background-image: url("../640x960/guipreviousbutton.png");
	height: 186px;
	left: 100px;
	position: fixed;
	top: 475px;
	width: 389px;
}

.guiResolutionScreen640x960{
	background-image: url("../640x960/guiresolutionscreen.png");
	height: 527px;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 640px;
}

.guiResolutionButton640x960{
	background-image: url("../640x960/guiresolutionbutton.png");
	height: 244px;
	left: 248px;
	position: fixed;
	top: 355px;
	width: 357px;
}

.guiNewLifesErrorScreen640x960{
	background-image: url("../640x960/guilifeserrorscreen.png");
	height: 527px;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 640px;
}

.guiNewLifesErrorButton640x960{
	background-image: url("../640x960/guilifeserrorbutton.png");
	height: 185px;
	left: 248px;
	position: fixed;
	top: 450px;
	width: 291px;
}

.guiLooseMenu640x960{
	position: fixed;
	background-image: url(../640x960/guimenu.png);
	width: 149px;
	height: 55px;
	min-height: 60px;
	left: 80px;
	top: 395px;
}

.guiBuyBombScreen640x960{
	position: fixed;
	background-image: url(../640x960/buybombcartel.png);
    height: 570px;
    left: 0;
    position: fixed;
    top: 0;
    width: 640px;
}

.guiBuyBombOk640x960{
    background-image: url("../640x960/buybombok.png");
    height: 147px;
    left: 15px;
    position: fixed;
    top: 422px;
    width: 280px;
}

.guiBuyBombNo640x960{
    background-image: url("../640x960/buybombno.png");
    height: 107px;
    left: 219px;
    position: fixed;
    top: 298px;
    width: 219px;
}

.guiBuyMultiScreen640x960{
    background-image: url("../640x960/buymulticartel.png");
    height: 570px;
    left: 0;
    position: fixed;
    top: 0;
    width: 640px;
}

.guiBuyMultiOk640x960{
    background-image: url("../640x960/buymultiok.png");
    height: 147px;
    left: 15px;
    position: fixed;
    top: 422px;
    width: 280px;
}

.guiBuyMultiNo640x960{
    background-image: url("../640x960/buymultino.png");
    height: 139px;
    left: 297px;
    position: fixed;
    top: 406px;
    width: 283px;
}

.guiBuyFreezeScreen640x960{
	position: fixed;
	background-image: url(../640x960/buyfreezecartel.png);
    height: 570px;
    left: 0;
    position: fixed;
    top: 0;
    width: 640px;
}

.guiBuyFreezeOk640x960{
    background-image: url("../640x960/buyfreezeok.png");
    height: 147px;
    left: 15px;
    position: fixed;
    top: 422px;
    width: 280px;
}

.guiBuyFreezeNo640x960{
    background-image: url("../640x960/buyfreezeno.png");
    height: 134px;
	left: 289px;
	position: fixed;
	top: 409px;
	width: 287px;
}

.uiAlert640x960{
	font-family: Bubblegum;
	font-size: 1.8em;
	color: #644000;
	position: fixed;
	background-image: url(../backgrounddiv.png);
	background-repeat: repeat;
	width: 100%;
	height: 100%;
	min-height: 100%;
	left: 0px;
	top: 0px;
	padding: 0 0 0 0;
}

.uiAlertImage640x960{
	background-image: url("../640x960/alertscreen.png");
	height: 530px;
	left: 0;
	min-height: 263px;
	position: fixed;
	top: 0;
	width: 640px;
}

.uiAlertButton640x960{
	background-image: url("../640x960/alertbutton.png");
	display: table-cell;
	height: 233px;
	left: 90px;
	max-width: 383px;
	min-height: 117px;
	padding-top: 105px;
	position: fixed;
	text-align: center;
	top: 473px;
	vertical-align: middle;
	width: 383px;
}

.uiAlertButton640x960 > p{
	margin: 0 auto; 
}

.uiAlertText640x960{
	height: 195px;
	left: 90px;
	position: absolute;
	text-align: center;
	top: 240px;
	width: 475px;
}

.uiHighscoreImage640x960{
	background-image: url("../640x960/highscorescreen.png");
	height: 530px;
	left: 0;
	min-height: 263px;
	position: fixed;
	top: 0;
	width: 640px;
}

.uiHighscoreButton640x960{
	background-image: url("../640x960/highscorebutton.png");
	display: table-cell;
	height: 233px;
	left: 90px;
	max-width: 383px;
	min-height: 117px;
	padding-top: 105px;
	position: fixed;
	text-align: center;
	top: 530px;
	vertical-align: middle;
	width: 383px;
}

.initScreen640x960{
	background-image: url(../640x960/loadingscreen.png);
}

.uiPauseButton640x960{
	
height: 50px;
    left: 525px;
    min-height: 49px;
    position: fixed;
    top: 5px;
    width: 96px;
}

.uiPauseScreen640x960{
	background-image: url("../640x960/pausecartel.png");
	height: 453px;
	left: 0;
	min-height: 453px;
	position: fixed;
	top: 0;
	width: 640px;
}

.leaderboard640x960{
	position: absolute;
	top: 0px;
	left: 0px;
	background-image: url(../640x960/leaderboardscreen.png);
}

.leaderboardTabs640x960{
	position: absolute;
	top: 180px;
	left: 135px;
	width: 158px;
	height: 20px;
	min-height: 20px;
}

.leaderboardTab640x960{ 
	color: #644000;
	font-family: bubblegum;
	font-size: 1.5em;
	height: 262px;
	left: 130px;
	min-height: 97px;
	position: absolute;
	top: 462px;
	width: 425px;
}

.leaderboardTabHighscore640x960 { 
	background-image: url("../640x960/leaderboardhighscore.png");
	height: 45px;
	left: 229px;
	min-height: 20px;
	position: absolute;
	top: 349px;
	width: 164px;
}

.leaderboardTabFriends640x960 { 
	background-image: url("../640x960/leaderboardfriends.png");
	height: 45px;
	left: 390px;
	min-height: 20px;
	position: absolute;
	top: 348px;
	width: 164px;
}

.leaderboardTabHighlight640x960 {
	height: 70px;
}

.leaderboardBackMenu640x960 { 
	background-image: url("../640x960/leaderboardmenu.png");
	height: 133px;
	left: 195px;
	min-height: 65px;
	position: absolute;
	top: 770px;
	width: 250px;
}

.optionsFacebook640x960 {
	background-image: url("../640x960/optionsfacebook.png");
	height: 115px;
	left: 195px;
	min-height: 61px;
	position: fixed;
	top: 545px;
	width: 182px;
}

.optionsCoins640x960 {
	background-image: url("../640x960/optionscoins.png");
	height: 225px;
	left: 340px;
	min-height: 115px;
	position: fixed;
	top: 535px;
	width: 220px;
}

.optionsLeaderboards640x960 {
	background-image: url("../640x960/optionsleaderboard.png");
	height: 171px;
	left: 30px;
	min-height: 92px;
	position: fixed;
	top: 578px;
	width: 219px;
}

.optionsVolumeOn640x960 {
    background-image: url("../640x960/optionsvolumenon.png");
    height: 90px;
    left: 220px;
    min-height: 61px;
    position: fixed;
    top: 408px;
    width: 92px;
}

.optionsVolumeOff640x960 {
    background-image: url("../640x960/optionsvolumenoff.png");
    height: 98px;
    left: 380px;
    min-height: 61px;
    position: fixed;
    top: 392px;
    width: 92px;
}

.optionsMenu640x960 {
	background-image: url("../640x960/optionsmenu.png");
	height: 234px;
	left: 235px;
	min-height: 124px;
	position: fixed;
	top: 655px;
	width: 186px;
}

.optionsLogout640x960 {
    background-image: url("../640x960/optionslogout.png");
    height: 206px;
    left: 31px;
    min-height: 124px;
    position: fixed;
    top: 662px;
    width: 200px;
}