@font-face {
	font-family: Bubblegum;
	src: url(../grobold.ttf);
}

/*
*		640x960
*/

.pointsFrame640x960{
	background-image: url("../640x960/points.png");
	color: #4E3E2D;
	font-family: Bubblegum;
	font-size: 1.8em;
	height: 140px;
	left: 240px;
	min-height: 62px;
	padding-top: 77px;
	position: fixed;
	text-align: center;
	top: 0;
	width: 182px;
}

.levelsFrame640x960{
	background-image: url("../640x960/lvl.png");
	color: #4E3E2D;
	font-family: Bubblegum;
	font-size: 1.7em;
	height: 121px;
	left: 470px;
	min-height: 62px;
	padding-left: 75px;
	padding-top: 60px;
	position: fixed;
	top: 820px;
	width: 162px;
}

.lifesFrame640x960{
	background-image: url("../640x960/life.png");
	color: #FFFFFF;
	font-family: Bubblegum;
	font-size: 1.8em;
	height: 129px;
	left: 40px;
	min-height: 62px;
	padding-left: 67px;
	padding-top: 42px;
	position: fixed;
	top: 0;
	width: 149px;
}

.gobackFrame640x960{
	background-image: url("../640x960/backbutton.png");
	color: #4E3E2D;
	font-family: Bubblegum;
	font-size: 0.8em;
	height: 56px;
	left: 25px;
	min-height: 27px;
	position: fixed;
	top: 95px;
	width: 173px;	
}

.guiCoinsFrame640x960{
	background-image: url("../640x960/guicoins.png");
	color: #644000;
	font-family: Bubblegum;
	font-size: 1.4em;
	height: 75px;
	left: 425px;
	padding-left: 40px;
	padding-top: 23px;
	position: fixed;
	text-align: left;
	top: 51px;
	width: 198px;
}

.guiBuyCoinsFrame640x960{
	background-image: url("../640x960/guibuycoins.png");
	height: 78px;
	left: 525px;
	position: fixed;
	top: 73px;
	width: 77px;
}

.guiBuyFreezeFrame640x960{
	background-image: url("../640x960/guibuyfreeze.png");
	color: #644000;
	font-family: Bubblegum;
	font-size: 1.1em;
	height: 72px;
	left: 20px;
	padding-left: 87px;
	padding-top: 13px;
	position: fixed;
	top: 855px;
	width: 116px;
}

.guiBuyBombFrame640x960{
	background-image: url("../640x960/guibuybomb.png");
	color: #644000;
	font-family: Bubblegum;
	font-size: 1.1em;
	height: 68px;
	left: 20px;
	padding-left: 88px;
	padding-top: 9px;
	position: fixed;
	top: 785px;
	width: 117px;
}

.guiBuyMultiFrame640x960{
	background-image: url("../640x960/guibuymulti.png");
	color: #644000;
	font-family: Bubblegum;
	font-size: 1.1em;
	height: 71px;
	left: 20px;
	padding-left: 89px;
	padding-top: 12px;
	position: fixed;
	top: 710px;
	width: 119px;
}

.guiPointsLeftFrame640x960{
	background-color: #FFFFFF;
	height: 430px;
	left: 598px;
	position: fixed;
	top: 379px;
	width: 10px;
}

.guiNextBallFrame640x960
{
    left: 180px;
    position: fixed;
    top: 860px;
}

.guiPandaBag640x960{
	position: fixed;
	background-image: url(../640x960/pandabag.png);
	top: 440px;
	left: 98px;
	width: 60px;
	height: 43px;
	/*z-index: ;*/
}

.facebookFrame640x960{
	background-image: url("../640x960/facebook.png");
	height: 95px;
	left: 474px;
	min-height: 47px;
	position: fixed;
	top: 590px;
	width: 166px;
}

.coinsFrame640x960{
	background-image: url("../640x960/coins.png");
	height: 101px;
	left: 497px;
	min-height: 46px;
	position: fixed;
	top: 725px;
	width: 143px;
}

.leaderboardFrame640x960{
	background-image: url("../640x960/leaderboards.png");
	height: 97px;
	left: 490px;
	min-height: 56px;
	position: fixed;
	top: 465px;
	width: 150px;
}

.playImage640x960{
	background-image: url("../640x960/newbutton.png");
	height: 101px;
	left: 171px;
	min-height: 65px;
	position: fixed;
	right: auto;
	top: 350px;
	width: 259px;
}

.continueImage640x960{
	background-image: url("../640x960/continuebutton.png");
	height: 100px;
	left: 170px;
	min-height: 65px;
	position: fixed;
	top: 490px;
	width: 266px;
}

.optionsImage640x960{
	background-image: url("../640x960/optionbutton.png");
	height: 104px;
	left: 207px;
	min-height: 65px;
	position: fixed;
	right: auto;
	top: 625px;
	width: 264px;
}

.facebookButton640x960{
	background-image: url("../640x960/facebookbutton.png");
	height: 51px;
	left: 255px;
	min-height: 25px;
	position: fixed;
	top: 605px;
	width: 310px;
}

.loadingProgressBar640x960{
	height: 19px;
	left: 203px;
	min-height: 9px;
	position: fixed;
	top: 518px;
	width: 265px;
}

.guiProgressBar640x960{
	position: fixed;
	width: 10px;
	height: 434px;
	top: 376px;
	left: 598px;
}

.guiProgressBar640x960 > div{
	position: absolute;
	background-color: #fff;
	width: 100%;
	bottom: 0px;
	top: auto;
}

.panda640x960{
	left: 115px;
	top: 730px;
	position: fixed;
	/*width: 90px;
	height: 111px;
	min-height: 111px;*/
}

.guiFinishPoints640x960{
    color: #644000;
    font-family: Bubblegum;
    font-size: 0.8em;
    height: 40px;
    left: 40px;
    padding-left: 5px;
    padding-top: 11px;
    position: fixed;
    text-align: center;
    top: 535px;
    width: 160px;
}

.guiFinishRank640x960{
    font-family: Bubblegum;
    font-size: 0.9em;
    height: 40px;
    left: 250px;
    position: fixed;
    text-align: center;
    top: 548px;
    width: 120px;
}

.guiFinishLevel640x960{
    font-family: Bubblegum;
    font-size: 0.9em;
    height: 40px;
    left: 440px;
    position: fixed;
    text-align: center;
    top: 554px;
    width: 100px;
}

.guiFinishLifes640x960{
    color: #FFFFFF;
    font-family: Bubblegum;
    font-size: 1.2em;
    height: 40px;
    left: 152px;
    padding-left: 13px;
    padding-top: 5px;
    position: fixed;
    top: 410px;
    width: 40px;
}

.guiFinishCoins640x960{
	font-family: Bubblegum;
    font-size: 0.9em;
    height: 40px;
    left: 354px;
    position: fixed;
    text-align: center;
    top: 417px;
    width: 148px;
}

.guiFinishMoreCoins640x960{
    background-image: url("../640x960/guiaddbutton.png");
    height: 68px;
    left: 477px;
    position: fixed;
    top: 430px;
    width: 68px;
}

.guiFinishMultiCount640x960{
    font-family: Bubblegum;
    font-size: 0.7em;
    height: 25px;
    left: 200px;
    position: fixed;
    top: 652px;
    width: 30px;
}

.guiFinishBombCount640x960{
    font-family: Bubblegum;
    font-size: 0.7em;
    height: 25px;
    left: 380px;
    position: fixed;
    top: 652px;
    width: 30px;
}

.guiFinishFreezeCount640x960{
    font-family: Bubblegum;
    font-size: 0.7em;
    height: 25px;
    left: 550px;
    position: fixed;
    top: 652px;
    width: 30px;
}

.guiFinishPoints640x960 > p { 
	vertical-align: middle;
}

.guiLooseScreen640x960{
	background-image: url(../640x960/guiloose.png);	
	position: fixed;
	top: 0px;
	left: 0px;
	width: 640px;
	height: 750px;
}	

.guiWinScreen640x960{
	background-image: url(../640x960/guiwin.png);	
	position: fixed;
	top: 0px;
	left: 0px;
	width: 640px;
	height: 750px;
}

.guiLooseContinue640x960{
    background-image: url("../640x960/guicontinueloose.png");
    height: 218px;
    left: 180px;
    min-height: 110px;
    position: fixed;
    top: 715px;
    width: 276px;
}

.guiWinContinue640x960{
	position: fixed;
	background-image: url(../640x960/guicontinuewin.png);
	width: 276px;
	height: 218px;
	min-height: 218px;
	left: 180px;
	top: 715px;
}

.guiBalanceCartel640x960{
	position: fixed;
	background-image: url(../640x960/guibalancescreen.png);
	top: 0px;
	left: 0px;
	height: 569px;
	width: 640px;
}

.guiBalanceBuyButton640x960{
    background-image: url("../640x960/guibalancemore.png");
    height: 150px;
    left: 270px;
    position: fixed;
    top: 410px;
    width: 306px;
}

.guiBalanceOkButton640x960{
    background-image: url("../640x960/guibalanceok.png");
    height: 200px;
    left: 15px;
    position: fixed;
    top: 385px;
    width: 306px;
}

.guiBalanceCoins640x960{
    font-family: Bubblegum;
    font-size: 1em;
    height: 40px;
    left: 470px;
    position: fixed;
    top: 234px;
    width: 100px;
}

.guiLoseAllLifes640x960{
    background-image: url("../640x960/guiendgame.png");
    height: 541px;
    left: 0;
    position: fixed;
    top: 0;
    width: 640px;
}

.guiLoseAllLifesOk640x960{
    background-image: url("../640x960/guiendgameok.png");
    height: 95px;
    left: 140px;
    position: fixed;
    top: 680px;
    width: 419px;
}

.guiLoseAllLifesBuy640x960{
    background-image: url("../640x960/guiendgamebuy.png");
    height: 213px;
    left: 130px;
    position: fixed;
    top: 480px;
    width: 451px;
}

.guiNoSoftgamesScreen640x960{
	background-image: url(../640x960/guisoftgamesscreen.png);
	position: fixed;
	height: 527px;
	width: 640px;
	top: 0px;
	left: 0px;
}

.guiNoSoftgamesButton640x960{
	background-image: url(../640x960/guisoftgamesbutton.png);
	position: fixed;
	height: 183px;
	width: 363px;
	top: 390px;
	left: 200px;
}

.guiNoInetErrorScreen640x960{
	background-image: url("../640x960/guinoinetscreen.png");
	height: 557px;
	left: 0;
	position: fixed;
	top: 0;
	width: 6400px;
}

.guiNoInetErrorButton640x960{
	background-image: url("../640x960/guinoinetbutton.png");
	height: 168px;
	left: 225px;
	position: fixed;
	top: 470px;
	width: 280px;
}

.guiNoFaceErrorScreen640x960{
	background-image: url("../640x960/guinofacescreen.png");
	height: 557px;
	left: 0;
	position: fixed;
	top: 0;
	width: 640px;
}

.guiNoFaceErrorButton640x960{
	background-image: url("../640x960/guinofacebutton.png");
	height: 166px;
	left: 200px;
	position: fixed;
	top: 370px;
	width: 327px;
}

.guiPreviousScreen640x960{
	background-image: url("../640x960/guipreviousscreen.png");
	height: 553px;
	left: 0;
	position: fixed;
	top: 0;
	width: 640px;
}


.guiPreviousButton640x960{
	background-image: url("../640x960/guipreviousbutton.png");
	height: 186px;
	left: 100px;
	position: fixed;
	top: 475px;
	width: 389px;
}

.guiResolutionScreen640x960{
	background-image: url("../640x960/guiresolutionscreen.png");
	height: 527px;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 640px;
}

.guiResolutionButton640x960{
	background-image: url("../640x960/guiresolutionbutton.png");
	height: 244px;
	left: 248px;
	position: fixed;
	top: 355px;
	width: 357px;
}

.guiNewLifesErrorScreen640x960{
	background-image: url("../640x960/guilifeserrorscreen.png");
	height: 527px;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 640px;
}

.guiNewLifesErrorButton640x960{
	background-image: url("../640x960/guilifeserrorbutton.png");
	height: 185px;
	left: 248px;
	position: fixed;
	top: 450px;
	width: 291px;
}

.guiLooseMenu640x960{
	position: fixed;
	background-image: url(../640x960/guimenu.png);
	width: 149px;
	height: 55px;
	min-height: 60px;
	left: 80px;
	top: 395px;
}

.uiAlert640x960{
	font-family: Bubblegum;
	font-size: 1.8em;
	color: #644000;
	position: fixed;
	background-image: url(../backgrounddiv.png);
	background-repeat: repeat;
	width: 100%;
	height: 100%;
	min-height: 100%;
	left: 0px;
	top: 0px;
}

.uiAlertImage640x960{
	background-image: url("../640x960/alertscreen.png");
	height: 530px;
	left: 0;
	min-height: 263px;
	position: fixed;
	top: 0;
	width: 640px;
}

.uiAlertButton640x960{
	background-image: url("../640x960/alertbutton.png");
	display: table-cell;
	height: 233px;
	left: 90px;
	max-width: 383px;
	min-height: 117px;
	padding-top: 105px;
	position: fixed;
	text-align: center;
	top: 473px;
	vertical-align: middle;
	width: 383px;
}

.uiAlertButton640x960 > p{
	margin: 0 auto; 
}

.uiAlertText640x960{
	height: 195px;
	left: 90px;
	position: absolute;
	text-align: center;
	top: 240px;
	width: 475px;
}

.uiHighscoreImage640x960{
	background-image: url("../640x960/highscorescreen.png");
	height: 530px;
	left: 0;
	min-height: 263px;
	position: fixed;
	top: 0;
	width: 640px;
}

.uiHighscoreButton640x960{
	background-image: url("../640x960/highscorebutton.png");
	display: table-cell;
	height: 233px;
	left: 90px;
	max-width: 383px;
	min-height: 117px;
	padding-top: 105px;
	position: fixed;
	text-align: center;
	top: 530px;
	vertical-align: middle;
	width: 383px;
}

.initScreen640x960{
	background-image: url(../640x960/loadingscreen.png);
}

.uiPauseButton640x960{
	background-image: url("../640x960/pausebutton.png");
	height: 49px;
	left: 555px;
	min-height: 39px;
	position: fixed;
	top: 5px;
	width: 84px;
}

.uiPauseScreen640x960{
	background-image: url("../640x960/pausecartel.png");
	height: 825px;
	left: 0;
	min-height: 480px;
	position: fixed;
	top: 0;
	width: 640px;
}

.leaderboard640x960{
	position: absolute;
	top: 0px;
	left: 0px;
	background-image: url(../640x960/leaderboardscreen.png);
}

.leaderboardTabs640x960{
	position: absolute;
	top: 180px;
	left: 135px;
	width: 158px;
	height: 20px;
	min-height: 20px;
}

.leaderboardTab640x960{ 
	color: #644000;
	font-family: bubblegum;
	font-size: 1.5em;
	height: 262px;
	left: 130px;
	min-height: 97px;
	position: absolute;
	top: 462px;
	width: 425px;
}

.leaderboardTabHighscore640x960 { 
	background-image: url("../640x960/leaderboardhighscore.png");
	height: 45px;
	left: 229px;
	min-height: 20px;
	position: absolute;
	top: 349px;
	width: 164px;
}

.leaderboardTabFriends640x960 { 
	background-image: url("../640x960/leaderboardfriends.png");
	height: 45px;
	left: 390px;
	min-height: 20px;
	position: absolute;
	top: 348px;
	width: 164px;
}

.leaderboardTabHighlight640x960 {
	height: 70px;
}

.leaderboardBackMenu640x960 { 
	background-image: url("../640x960/leaderboardmenu.png");
	height: 133px;
	left: 195px;
	min-height: 65px;
	position: absolute;
	top: 770px;
	width: 250px;
}

.optionsFacebook640x960 {
	background-image: url("../640x960/optionsfacebook.png");
	height: 115px;
	left: 195px;
	min-height: 61px;
	position: fixed;
	top: 545px;
	width: 182px;
}

.optionsCoins640x960 {
	background-image: url("../640x960/optionscoins.png");
	height: 225px;
	left: 340px;
	min-height: 115px;
	position: fixed;
	top: 535px;
	width: 220px;
}

.optionsLeaderboards640x960 {
	background-image: url("../640x960/optionsleaderboard.png");
	height: 171px;
	left: 30px;
	min-height: 92px;
	position: fixed;
	top: 578px;
	width: 219px;
}

.optionsVolumeOn640x960 {
	position: fixed;
	top: 380px;
	left: 35px;
	width: 92px;
	height: 61px;
	min-height: 61px;
	background-image: url(../640x960/optionsvolumneon.png);
}

.optionsVolumeOff640x960 {
	position: fixed;
	top: 380px;
	left: 35px;
	width: 92px;
	height: 61px;
	min-height: 61px;
	background-image: url(../640x960/optionsvolumneoff.png);
}

.optionsMenu640x960 {
	background-image: url("../640x960/optionsmenu.png");
	height: 234px;
	left: 235px;
	min-height: 124px;
	position: fixed;
	top: 655px;
	width: 186px;
}