@font-face {
	font-family: Bubblegum;
	src: url(../grobold.ttf);
}

/*
*		854x480
*/


/*==========================pantalla highscore ==========================================================================================================*/
.guihighscoretabmyscore854x480{-webkit-transform: rotate(-3deg) }
.guihighscoretabmyscore854x480 td{font-family: Bubblegum font-size: 1em }
.guihighscoretabmyscore854x480 img{width: 30px height: 29px }
.guihighscoretabeveryone854x480 {margin-top:37px margin-left: 6px ;-webkit-transform: rotate(-3deg) ;}
.guihighscoretabeveryone854x480 td{font-family: Bubblegum ;font-size: 1em ;padding-bottom:7px ;}
.guihighscoretabeveryone854x480 img{width: 30px ;height: 29px ;}
.nick854x480{padding-left:11px ;width: 120px ;}
.highscorealltime854x480{left: 312px;top: 170px;width: 86px;height:18px;position: absolute;background-image: url(../854x480/alltime.png);-webkit-transform: rotate(-4deg);  }
.highscorealltimeapretado854x480{left: 312px;top: 164px;width: 86px;height:35px;position: absolute;background-image: url(../854x480/alltime.png);-webkit-transform: rotate(-4deg);  }
.highscoretoday854x480{left: 405px;top: 165px;width: 86px;height:18px;position: absolute;background-image: url(../854x480/today.png);-webkit-transform: rotate(-4deg); } 
.highscoretodayapretado854x480{left: 405px;top: 158px;width: 86px;height:35px;position: absolute;background-image: url(../854x480/today.png);-webkit-transform: rotate(-4deg); } 
.highscorethisweek854x480{left: 494px;top: 160px;width: 86px;height:18px;position: absolute;background-image: url(../854x480/thisweek.png); -webkit-transform: rotate(-4deg); }
.highscorethisweekapretado854x480{left: 494px;top: 151px;width: 86px;height:35px;position: absolute;background-image: url(../854x480/thisweek.png); -webkit-transform: rotate(-4deg); }
.backahigscore854x480{width: 86px;height: 46px;position: fixed;left: 524px;top: 0px;background-image: url(../854x480/backahigscore.png);}
/*=========================pantalla achievement=================================================================================================================*/
.containerachievement854x480{position: absolute;width: 854px;height: 480px;background-image: url(../854x480/achievement.jpg); background-repeat:no-repeat ;}
.generalLeaderboardachievement854x480{left: 315px;top: 163px; width: 261px;position: absolute;}
.guihighscoretabachievement854x480 {color: #644000; }
.guihighscoretabachievement854x480 td{padding-bottom:4px; }
.levelarchievement854x480{font-family: Bubblegum;font-size:12px;color: #644000;}
.rankarchievement854x480{font-family: Bubblegum;font-size:10px;color: #644000;}
.celda1achievement854x480{width: 160px;}
.celda2achievement854x480{}
.celda3achievement854x480{}
.transparenteachievement854x480{ width: 268px; height: 32px; position: absolute;background-image: url(../854x480/transparencia.png);}
.okachievement854x480{width: 30px; height: 26px;background-image: url(../854x480/okachievement.png);background-repeat:no-repeat ;}
.cuadradoachievement854x480{width: 34px; height: 32px;background-image: url(../854x480/cuadradoachievement.png);margin-left:14px;}
.cuadradoachievement854x480 img {width: 26px; height:26px;padding-left:2px;padding-top:2px;}
.backachievement854x480{width: 84px;height: 46px;position: fixed;left: 503px;top: 98px;background-image: url("../854x480/backachievement.png");}
.shareahievement854x480{width: 138px;height: 58px;position: fixed;left: 438px;top: 414px;background-image: url("../854x480/shareachievement.png");}
/*======================pantalla chooser =============================================================================================*/
.container854x480{position: absolute;width: 439px;height: 480px;background-image: url(../854x480/bg-choose.png); background-repeat:no-repeat ;}
.guiChooseFinishMultiCount854x480{font-family: Bubblegum;	font-size: 1.1em;color:#644000;height: 12px;	left: 140px;	position: fixed;top: 126px;	width: 13px;}
.guiChooseFinishBombCount854x480{font-family: Bubblegum;	font-size:1.1em;color:#644000;height: 12px;	left:  136px;	position: fixed;top: 213px;	width: 13px;}
.guiChooseFinishFreezeCount854x480{	font-family: Bubblegum;	font-size: 1.1em;color:#644000;	height: 12px;	left:  140px;	position: fixed;top: 298px;	width: 13px;}

.guiFinishChooseBuyMulti854x480{background-image: url("../854x480/chooseguigetx3.png");left: 293px;top: 112px;height: 33px;position: fixed;width: 86px;}
.guiFinishChooseBuyFreeze854x480{background-image: url("../854x480/chooseguigetx3.png");left: 293px;top: 282px;height: 33px;position: fixed;width: 86px;}
.guiFinishChooseBuyBomb854x480{background-image: url("../854x480/chooseguigetx3.png");left: 293px;top: 200px;height: 33px;position: fixed;  width: 86px;}

.guiChooseCoinsMuli854x480{position: fixed;width: 35px;height: 20px;left: 230px;top: 124px;font-family: Bubblegum;color:#644000;}
.guiChooseCoinsBomb854x480{position: fixed;width: 35px;height: 20px;left: 230px;top: 214;font-family: Bubblegum;color:#644000;}
.guiChooseCoinsFreeze854x480{position: fixed;width: 35px;height: 20px;left: 230px;top: 296px;font-family: Bubblegum;color:#644000;}

.guiChooseAddCoins854x480{background-image: url("../854x480/add-coins.png");left: 286px;top: 408px;height: 36px;position: fixed;  width: 91px; background-repeat:no-repeat ;}
.guiFinishChooseCoins854x480{height: 26px;	left: 106px;position: fixed;text-align: center;	top: 415px;	width: 74px;color:#644000;font-family: Bubblegum;	font-size: 1.1em;}
.guiChoosecerrar854x480{position: fixed;width: 34px;height: 34px;left: 378px;top: 15px;background-image: url("../854x480/btncerrar.png");}
/* =========== pantalla bonus======================================================================================================*/
.containerbonus854x480{width: 338px;height: 420px; background-image: url("../854x480/bonus.png");position: absolute;}
.bonusaccepyshare854x480{width: 128px;height: 72px; top:400px;left:126px;background-image: url("../854x480/bonusacept.png");position: absolute;background-repeat:no-repeat;}
.bonuscerrar854x480{position: fixed;width: 30px;height: 32px;left: 279px;top: 16px;background-image: url("../854x480/btncerrar.png");}
.bonusyouwon854x480{position: fixed;width: 100%;height: 72px;top:226px;background-position: center center;background-repeat:no-repeat;}
/*======================pantalla help==============================================*/
.containerhelp854x480{width: 854px;height: 480px; background-image: url("../854x480/helpbackground.png");position: absolute;}
.donehelp854x480{width: 134px;height: 59px; top:419px;left:465px;background-image: url("../854x480/helpdone.png");position: absolute;background-repeat:no-repeat;}
/* =========== pantalla life======================================================================================================*/
.lifecontainer854x480{width: 386px;height: 401px; background-image: url("../854x480/lifebackground.png");position: absolute;background-repeat:no-repeat;}
.lifeaddcoins854x480{width: 143px;height: 80px; top:388px;left:222px;background-image: url("../854x480/lifeaddcoins.png");position: absolute;background-repeat:no-repeat;}
.lifegiveme854x480{width: 144px;height:85px; top:390px;left:30px;background-image: url("../854x480/lifegiveme.png");position: absolute;background-repeat:no-repeat;}
.lifecoins854x480{font-family: Bubblegum;	font-size: 1.3em;color:#644000;height: 12px;	left: 236px;	position: fixed;top: 68px;	width: 13px;}
/*======================pantalla win==============================================*/
.guiwincerrar854x480{position: fixed;width: 29px;height: 38px;left: 522px;top: 29px;background-image: url("../854x480/btncerrar.png");}
.guiWinContinuepostonwall854x480{width: 127px;height: 70px;min-height: 70px;left: 275px;top: 404px;position: fixed;background-image: url(../854x480/guicontinuepostonwall.png);}
.guiWinCoinsMuli854x480{position: fixed;width: 35px;height: 20px;left:422px;top: 286px;color:#4e3e2d;   font-family: Bubblegum;    font-size: 0.8em;}
.guiWinCoinsBomb854x480{position: fixed;width: 35px;height: 20px;left:422px;top: 330px;color:#4e3e2d;   font-family: Bubblegum;    font-size: 0.8em;}
.guiWinCoinsFreeze854x480{position: fixed;width: 35px;height: 20px;left:422px;top: 369px;color:#4e3e2d;   font-family: Bubblegum;    font-size: 0.8em;}
/*======================pantalla loose==============================================*/
.guiLooseContinuepostonwall854x480{	width: 127px;height: 70px;min-height: 70px;left: 270px;top: 405px;position: fixed;background-image: url(../854x480/guicontinuepostonwall.png);	}
.guiCoinsMuli854x480{position: fixed;width: 35px;height: 20px;left:422px;top: 286px;color:#4e3e2d;   font-family: Bubblegum;    font-size: 0.8em;}
.guiCoinsBomb854x480{position: fixed;width: 35px;height: 20px;left:422px;top: 330px;color:#4e3e2d;   font-family: Bubblegum;    font-size: 0.8em;}
.guiCoinsFreeze854x480{position: fixed;width: 35px;height: 20px;left:422px;top: 369px;color:#4e3e2d;   font-family: Bubblegum;    font-size: 0.8em;}
.guiLoosecerrar854x480{position: fixed;width: 30px;height: 38px;left:522px;top: 29px;background-image: url("../854x480/btncerrar.png");}
/*======================pantalla pause==============================================*/	
.pausecontinue854x480{top: 186px;left: 340px;	width: 176px;height:104px; background-image: url("../854x480/pausecontinue.png");min-height: 104px;	position: absolute;}
.pausehelp854x480{top: 340px;left:360px;	width:174px;height: 140px;min-height: 140px; background-image: url("../854x480/pausehelp.png");		position: absolute;}
.pausemenu854x480{top: 259px;	left: 346px;width: 172px;  min-height: 123px;	height: 123px; background-image: url("../854x480/pausemenu.png");	position: absolute;}
/*======================pantalla ingame==============================================*/
.frameBackground854x480{ width: 854px !important; height: 480px !important; background-position: center 30px !important; position: absolute; !important; left: 0px; }
.guicanon854x480{background-image: url("../854x480/cannon.png");position: absolute;width: 160px;height: 110px;left:370px;top: 297px;	}
.awesome854x480{ width: 100%;height: 109px;background-image: url("../854x480/awesome.png") ;  position:absolute;background-position: center ; top:96px;}
.great854x480{ width: 100%;height: 123px;background-image: url("../854x480/great.png") ;  position:absolute;background-position: center ; top:96px;}
.combo854x480{ width: 100%;height: 119px;background-image: url("../854x480/combo.png") ;  position:absolute;background-position: center ;top:96px;}
.onfire854x480{ width: 100%;height: 119px;background-image: url("../854x480/onfire.png") ;  position:absolute;background-position: center ; top:94px;}
.going854x480{ width: 100%;height: 113px;background-image: url("../854x480/going.png") ;  position:absolute;background-position: center ; top:94px;}
.guipelotapanda854x480{	left: 360px;position: fixed;top: 350px;}
.guipelotapanda854x480 img {width: 38.75px; height: 38.75px; min-height: 38.75px;}
.guipelotacanon854x480{	left:440px;position: fixed;top: 350px;}
.guipelotacanon854x480 img  {width: 38.75px; height: 38.75px; min-height: 38.75px;}

/* #contenedorgreat320x480{position: absolute;width: 100%;top:164px;}
#great320x480{ width: 135px;height: 75px;background-image: url("../320x480/great320.png"); margin: 0 auto;}
*/
/*======================pantalla home==============================================*/
.homelevel854x480{color: #4E3E2D;	font-family: Bubblegum;	font-size: 1.0em;	height: 60px;	top: 4px;	left: 219px;	
min-height: 62px;	padding-left: 17px;	padding-top: 32px;	position: fixed;	width: 82px;}
.homescore854x480{color: #4E3E2D;	font-family: Bubblegum;	font-size: 1.3em;	height: 75px;	left: 383px;
	min-height: 62px;	padding-top: 28px;	position: fixed;	text-align: center;	top:6px;	width: 93px;}
.homerank854x480{color: #4E3E2D;	font-family: Bubblegum;	font-size:1.3em;	height: 62px;	left: 478px;	min-height: 62px;	padding-left: 34px;	padding-top: 24px;
	position: fixed;	top: 4px;	width: 87px;}
.highscoreImage854x480{	background-image: url("../854x480/highscore.png");	height: 65px;left:348px;min-height: 65px;	position: fixed;top: 272px;	width: 160px;}
.archievementImage854x480{	background-image: url("../854x480/homeachievement.png");	height: 65px;left: 356px;min-height: 65px;	position: fixed;top: 330px;	width: 160px;}
.helpImage854x480{	background-image: url("../854x480/help.png");	height: 89px;left: 749px;min-height: 89px;	position: fixed;top: 328px;	width: 105px;}
 .volumenofImage854x480{	background-image: url("../854x480/volumen.png");	height: 46px;left: 4px;min-height: 46px;	position: fixed;top: 416px;	width: 52px;}
.volumenonImage854x480{	background-image: url("../854x480/volumenon.png");	height: 46px;left: 4px;min-height: 46px;	position: fixed;top: 416px;	width: 52px;}
/*==============================================================================================================================================================================*/

.pointsFrame854x480{
	color: #4E3E2D;
    font-family: Bubblegum;
    font-size: 1.1em;
    height: 94px;
    left: 318px;
    min-height: 50px;
    padding-top: 38px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 132px;
}

.levelsFrame854x480{
	color: #4E3E2D;
    font-family: Bubblegum;
    font-size: 1em;
    height: 84px;
    left: 204px;
    min-height: 20px;
    padding-top: 40px;
    position: fixed;
    text-align: center;
    top: 0px;
    width: 120px;
}

.lifesFrame854x480{
	color: #FFFFFF;
    font-family: Bubblegum;
    font-size: 1.1em;
    height: 83px;
    left: 426px;
    min-height: 20px;
    padding-left: 57px;
    padding-top: 35px;
    position: fixed;
    top: 2px;
    width: 118px;
}
/*
.gobackFrame854x480{
	background-image: url("../854x480/backbutton.png");
	height: 63px;
	left: 0;
	min-height: 10px;
	position: fixed;
	top: 0;
	width: 119px;
}
*/

.guiCoinsFrame854x480{
	color: #644000;
    font-family: Bubblegum;
    font-size: 0.9em;
    height: 59px;
    left: 525px;
    padding-left: 27px;
    padding-top: 17px;
    position: fixed;
    text-align: left;
    top: 21px;
    width: 145px;
}

.guiBuyCoinsFrame854x480{
    background-image: url("../854x480/guibuycoins.png");
    height: 50px;
    left: 580px;
    position: fixed;
    top: 46px;
    width: 49px;
}

.guiBuyFreezeFrame854x480{
    background-image: url("../854x480/guibuyfreeze.png");
    color: #644000;
    font-family: Bubblegum;
    font-size: 1.1em;
    height: 95px;
    left: 497px;
    padding-left: 56px;
    padding-top: 41px;
    position: fixed;
    top: 407px;
    width: 105px;
}

.guiBuyBombFrame854x480{
    background-image: url("../854x480/guibuybomb.png");
    color: #644000;
    font-family: Bubblegum;
    font-size: 1.1em;
    height: 95px;
    left: 387px;
    padding-left: 58px;
    padding-top: 41px;
    position: fixed;
	top: 407px;
    width: 105px;
}

.guiBuyMultiFrame854x480{
    background-image: url("../854x480/guibuymulti.png");
	color: #644000;
    font-family: Bubblegum;
    font-size: 1.1em;
    height: 94px;
    left: 280px;
    padding-left: 52px;
    padding-top: 41px;
    position: fixed;
    top: 407px;
    width: 97px;
}

.guiPointsLeftFrame854x480{
	background-color: #FFFFFF;
	height: 231px;
	left: 779px;
	position: fixed;
	top: 135px;
	width: 6px;
}

.guiNextBallFrame854x480
{
    left: 340px;
    position: fixed;
    top: 415px;
}

.facebookFrame854x480{
	background-image: url("../854x480/facebook.png");
	height: 66px;
	left: 536px;
	min-height: 47px;
	position: fixed;
	top: 319px;
	width: 179px;
}

.coinsFrame854x480{
	background-image: url("../854x480/coins.png");
	height: 63px;
	left: 545px;
	min-height: 46px;
	position: fixed;
	top: 390px;
	width: 153px;
}

.addFriends854x480{
    background-image: url("../854x480/addfriends.png");
    height: 116px;
    left: 541px;
    min-height: 46px;
    position: fixed;
    top: 378px;
    width: 175px;
}

.leaderboardFrame854x480{
	background-image: url("../854x480/leaderboards.png");
	height: 73px;
    left: 354px;
    min-height: 56px;
    position: fixed;
    top: 390px;
    width: 163px;
}

.playImage854x480{
	background-image: url("../854x480/newbutton.png");
    height: 69px;
    left: 360px;
    min-height: 20px;
    position: fixed;
    right: auto;
    top: 213px;
    width: 163px;
}

.continueImage854x480{
	background-image: url("../854x480/continuebutton.png");
	height: 71px;
	left: 300px;
	min-height: 20px;
	position: fixed;
	top: 277px;
	width: 174px;
}

.optionsImage854x480{
	background-image: url("../854x480/optionbutton.png");
	height: 74px;
	left: 316px;
	min-height: 20px;
	position: fixed;
	right: auto;
	top: 352px;
	width: 169px;
}

.facebookButton854x480{
	background-image: url("../854x480/facebookbutton.png");
	height: 25px;
	left: 413px;
	min-height: 25px;
	position: fixed;
	top: 334px;
	width: 179px;
}

.loadingProgressBar854x480{
	height: 10px;
	left: 354px;
	position: fixed;
	top: 284px;
	width: 187px;
}

.guiProgressBar854x480{
    height: 351px;
    left: 15px;
    position: fixed;
    top: 110px;
    width: 78px;
}

.guiProgressBar854x480 > div{
    background-image: url("../854x480/progressbar.png");
    bottom: 0;
    position: absolute;
    top: auto;
    width: 100%;
}

.panda854x480{
    left: 310px;
    position: fixed;
    top: 250px;
}
/*
.guiFinishPoints854x480{
    color: #644000;
    font-family: Bubblegum;
    font-size: 0.8em;
    height: 20px;
    left: 285px;
    padding-left: 5px;
    padding-top: 11px;
    position: fixed;
    text-align: center;
    top: 260px;
    width: 70px;
}
*/

.guiFinishRank854x480{
  font-family: Bubblegum;
    font-size: 0.9em;
    height: 20px;
    left: 314px;
    position: fixed;
    text-align: center;
    top: 179px;
    width: 67px;
}
/*
.guiFinishLevel854x480{
    font-family: Bubblegum;
    font-size: 0.9em;
    height: 20px;
    left: 485px;
    position: fixed;
    text-align: center;
    top: 270px;
    width: 60px;
}

.guiFinishLifes854x480{
    color: #FFFFFF;
    font-family: Bubblegum;
    font-size: 1.2em;
    height: 40px;
    left: 333px;
    padding-left: 13px;
    padding-top: 5px;
    position: fixed;
    top: 195px;
    width: 40px;
}
*/

.guiFinishCoins854x480{
    font-family: Bubblegum;
    font-size: 0.9em;
    height: 40px;
    left: 424px;
    position: fixed;
    text-align: center;
    top: 172px;
    width: 100px;
}

.guiFinishMoreCoins854x480{
    background-image: url("../854x480/guiaddbutton.png");
    height: 49px;
    left: 486px;
    position: fixed;
    top: 178px;
    width: 49px;
}

.guiFinishMultiCount854x480{
 font-family: Bubblegum;
    font-size: 0.9em;
    height: 15px;
    left: 357px;
    position: fixed;
    top: 287px;
    width: 20px;
}

.guiFinishBombCount854x480{
  font-family: Bubblegum;
    font-size: 0.9em;
    height: 15px;
    left: 355px;
    position: fixed;
    top: 330px;
    width: 20px;
}

.guiFinishFreezeCount854x480{
 font-family: Bubblegum;
    font-size: 0.9em;
    height: 15px;
    left: 357px;
    position: fixed;
    top: 372px;
    width: 20px;
}
/*
.guiFinishPoints854x480 > p { 
	vertical-align: middle;
}
*/

.guiLooseScreen854x480{
    background-image: url("../854x480/guiloose.png");
   height: 425px;
    left: 258px;
    position: fixed;
    top: 0;
    width: 311px;
}	

.guiWinScreen854x480{
    background-image: url("../854x480/guiwin.png");
    height: 427px;
    left: 251px;
    position: fixed;
    top: 0;
    width: 333px;
}

.guiLooseContinue854x480{
    background-image: url("../854x480/guicontinueloose.png");
   height: 69px;
    left: 426px;
    min-height: 110px;
    position: fixed;
    top: 405px;
    width: 148px;
}

.guiWinContinue854x480{
    background-image: url("../854x480/guicontinuewin.png");
   height: 111px;
    left: 430px;
    min-height: 218px;
    position: fixed;
    top: 404px;
    width: 180px;
}
.guiFinishBuyMulti854x480{
    background-image: url("../854x480/guigetx3.png");
    height: 30px;
    left: 460px;
    position: fixed;
    top: 280px;
    width: 70px;
}

.guiFinishBuyFreeze854x480{
    background-image: url("../854x480/guigetx3.png");
    height: 30px;
    left: 460px;
    position: fixed;
    top: 365px;
    width: 70px;
}

.guiFinishBuyBomb854x480{
    background-image: url("../854x480/guigetx3.png");
    height: 30px;
    left: 460px;
    position: fixed;
    top: 325px;
    width: 70px;

}

.guiBalanceCartel854x480{
	position: fixed;
	background-image: url(../854x480/guibalancescreen.png);
	top: 0px;
	left: 150px;
	height: 448px;
	width: 504px;
}

.guiBalanceBuyButton854x480{
    background-image: url("../854x480/guibalancemore.png");
    height: 150px;
    left: 400px;
    position: fixed;
    top: 330px;
    width: 220px;
}

.guiBalanceOkButton854x480{
    background-image: url("../854x480/guibalanceok.png");
    height: 120px;
    left: 150px;
    position: fixed;
    top: 330px;
    width: 220px;
}

.guiBalanceCoins854x480{
    font-family: Bubblegum;
    font-size: 1.2em;
    height: 40px;
    left: 520px;
    position: fixed;
    top: 185px;
    width: 100px;
}

.guiLoseAllLifes854x480{
    background-image: url("../854x480/guiendgame.png");
    height: 286px;
    left: 241px;
    position: fixed;
    top: 0;
    width: 374px;
}

.guiLoseAllLifesOk854x480{
    background-image: url("../854x480/guiendgameok.png");
    height: 50px;
    left: 330px;
    position: fixed;
    top: 370px;
    width: 227px;
}

.guiLoseAllLifesBuy854x480{
    background-image: url("../854x480/guiendgamebuy.png");
    height: 117px;
    left: 330px;
    position: fixed;
    top: 265px;
    width: 230px;
}

.guiNoSoftgamesScreen854x480{
    background-image: url("../854x480/guisoftgamesscreen.png");
    height: 350px;
    left: 199px;
    position: fixed;
    top: 0;
    width: 456px;
}

.guiNoSoftgamesButton854x480{
    background-image: url("../854x480/guisoftgamesbutton.png");
    height: 131px;
    left: 350px;
    position: fixed;
    top: 255px;
    width: 237px;
}

.guiNoInetErrorScreen854x480{
    background-image: url("../854x480/guinoinetscreen.png");
    height: 387px;
    left: 186px;
    position: fixed;
    top: 0;
    width: 482px;
}

.guiNoInetErrorButton854x480{
    background-image: url("../854x480/guinoinetbutton.png");
    height: 113px;
    left: 340px;
    position: fixed;
    top: 322px;
    width: 238px;
}

.guiNoFaceErrorScreen854x480{
    background-image: url("../854x480/guinofacescreen.png");
    height: 387px;
    left: 208px;
    position: fixed;
    top: 0;
    width: 437px;
}

.guiNoFaceErrorButton854x480{
    background-image: url("../854x480/guinofacebutton.png");
    height: 116px;
    left: 340px;
    position: fixed;
    top: 240px;
    width: 217px;
}

.guiPreviousScreen854x480{
    background-image: url("../854x480/guipreviousscreen.png");
    height: 326px;
    left: 211px;
    position: fixed;
    top: 0;
    width: 431px;
}


.guiPreviousButton854x480{
    background-image: url("../854x480/guipreviousbutton.png");
    height: 124px;
    left: 300px;
    position: fixed;
    top: 275px;
    width: 249px;
}

.guiResolutionScreen854x480{
    background-image: url("../854x480/guiresolutionscreen.png");
    height: 353px;
    left: 205px;
    position: fixed;
    top: 0;
    width: 444px;
}

.guiResolutionButton854x480{
    background-image: url("../854x480/guiresolutionbutton.png");
    height: 136px;
    left: 400px;
    position: fixed;
    top: 250px;
    width: 221px;
}

.guiNewLifesErrorScreen854x480{
    background-image: url("../854x480/guilifeserrorscreen.png");
    height: 378px;
    left: 140px;
    position: fixed;
    top: 0;
    width: 537px;
}

.guiNewLifesErrorButton854x480{
    background-image: url("../854x480/guilifeserrorbutton.png");
    height: 134px;
    left: 350px;
    position: fixed;
    top: 330px;
    width: 220px;
}

.guiLooseMenu854x480{
	background-image: url("../854x480/guimenu.png");
	height: 58px;
	left: 107px;
	min-height: 20px;
	position: fixed;
	top: 402px;
	width: 149px;
}


.guiBuyBombScreen854x480{
    position: fixed;
    background-image: url(../854x480/buybombcartel.png);
    height: 368px;
    left: 258px;
    position: fixed;
    top: 0;
    width: 442px;
}

.guiBuyBombOk854x480{
    background-image: url("../854x480/buybombok.png");
    height: 109px;
    left: 267px;
    position: fixed;
    top: 269px;
    width: 280px;
}

.guiBuyBombNo854x480{
    background-image: url("../854x480/buybombno.png");
    height: 90px;
    left: 473px;
    position: fixed;
    top: 268px;
    width: 188px;
}

.guiBuyMultiScreen854x480{
    background-image: url("../854x480/buymulticartel.png");
    height: 359px;
    left: 258px;
    position: fixed;
    top: 0;
    width: 432px;
}

.guiBuyMultiOk854x480{
    background-image: url("../854x480/buymultiok.png");
    height: 109px;
    left: 267px;
    position: fixed;
    top: 269px;
    width: 280px;
}

.guiBuyMultiNo854x480{
    background-image: url("../854x480/buymultino.png");
    height: 90px;
    left: 473px;
    position: fixed;
    top: 268px;
    width: 188px;
}

.guiBuyFreezeScreen854x480{
    position: fixed;
    background-image: url(../854x480/buyfreezecartel.png);
    height: 372px;
    left: 258px;
    position: fixed;
    top: 0;
    width: 444px;
}

.guiBuyFreezeOk854x480{
    background-image: url("../854x480/buyfreezeok.png");
    height: 109px;
    left: 267px;
    position: fixed;
    top: 269px;
    width: 280px;
}

.guiBuyFreezeNo854x480{
    background-image: url("../854x480/buyfreezeno.png");
    height: 90px;
    left: 473px;
    position: fixed;
    top: 268px;
    width: 188px;
}

.uiAlert854x480{
	font-family: Bubblegum;
	font-size: 1.1em;
	color: #644000;
	position: fixed;
	background-image: url(../backgrounddiv.png);
	background-repeat: repeat;
	width: 100%;
	height: 100%;
	min-height: 100%;
	left: 0px;
	top: 0px;
	padding: 0 0 0 0;
}

.uiAlertImage854x480{
	background-image: url("../854x480/alertscreen.png");
	height: 324px;
	left: 0;
	min-height: 263px;
	position: fixed;
	top: 0;
	width: 360px;
}

.uiAlertButton854x480{
	background-image: url("../854x480/alertbutton.png");
	display: table-cell;
	height: 123px;
	left: 73px;
	max-width: 201px;
	min-height: 117px;
	position: fixed;
	text-align: center;
	top: 292px;
	vertical-align: middle;
	width: 213px;
}

.uiAlertButton854x480 > div {
	height: 50px;
	left: 30px;
	position: absolute;
	top: 40px;
	width: 155px;
}

.uiAlertText854x480{
	height: 104px;
	left: 55px;
	min-height: 50px;
	position: absolute;
	text-align: center;
	top: 166px;
	width: 247px;
}

.uiHighscoreImage854x480{
    background-image: url("../854x480/highscorescreen.png");
    height: 327px;
    left: 194px;
    min-height: 263px;
    position: fixed;
    top: 0;
    width: 466px;
}

.uiHighscoreButton854x480{
    background-image: url("../854x480/highscorebutton.png");
    display: table-cell;
    height: 157px;
    left: 300px;
    max-width: 383px;
    min-height: 117px;
    padding-top: 105px;
    position: fixed;
    text-align: center;
    top: 285px;
    vertical-align: middle;
    width: 263px;
}

.initScreen854x480{
	background-image: url(../854x480/loadingscreen.png);
}

.uiPauseButton854x480{
	background-image: url("../854x480/pausebutton.png");
    height: 48px;
    left: 561px;
    min-height: 10px;
    position: fixed;
    top: -6px;
    width: 58px;
}

.uiPauseScreen854x480{
    background-image: url("../854x480/pausecartel.png");
    height: 220px;
    left: 244px;
    min-height: 220px;
    position: fixed;
    top: 0;
    width: 345px;
}

.leaderboard854x480{
	position: absolute;
	top: 0px;
	left: 0px;
	background-image: url(../854x480/leaderboardscreen.png);
}

.leaderboardTabs854x480{
	position: absolute;
	top: 180px;
	left: 135px;
	width: 158px;
	height: 20px;
	min-height: 20px;
}

.leaderboardTab854x480{ 
color: #644000;
font-family: bubblegum;
font-size: 0.8em;
height: 133px;
left: 323px;
min-height: 40px;
position: absolute;
top: 221px;
width: 240px;
}

.leaderboardTabHighscore854x480 { 
    background-image: url("../854x480/leaderboardhighscore.png");
height: 64px;
left: 290px;
min-height: 64px;
position: absolute;
top: 406px;
width: 110px;
}

.leaderboardTabFriends854x480 { 
    background-image: url("../854x480/leaderboardfriends.png");
    height: 69px;
    left: 480px;
    min-height: 69px;
    position: absolute;
    top: 393px;
    width: 108px;
}

.leaderboardBackMenu854x480 { 
    background-image: url("../854x480/leaderboardmenu.png");
    height: 66px;
    left: 270px;
    min-height: 65px;
    position: absolute;
    top: 400px;
    width: 130px;
}

.leaderboardTabHighlight854x480
{
	height: 40px;
}

.optionsFacebook854x480 {
	background-image: url("../854x480/optionsfacebook.png");
	height: 59px;
	left: 409px;
	min-height: 61px;
	position: fixed;
	top: 296px;
	width: 105px;
}

.optionsCoins854x480 {
	background-image: url("../854x480/optionscoins.png");
	height: 126px;
	left: 482px;
	min-height: 56px;
	position: fixed;
	top: 291px;
	width: 128px;
}

.optionsLeaderboards854x480 {
	background-image: url("../854x480/optionsleaderboard.png");
	height: 97px;
	left: 298px;
	min-height: 92px;
	position: fixed;
	top: 314px;
	width: 129px;
}

.optionsVolumeOn854x480 {
    background-image: url("../854x480/optionsvolumenon.png");
    height: 61px;
    left: 374px;
    min-height: 61px;
    position: fixed;
    top: 220px;
    width: 92px;
}

.optionsVolumeOff854x480 {
    background-image: url("../854x480/optionsvolumenoff.png");
    height: 61px;
    left: 464px;
    min-height: 61px;
    position: fixed;
    top: 211px;
    width: 92px;
}

.optionsMenu854x480 {
	background-image: url("../854x480/optionsmenu.png");
	height: 105px;
	left: 432px;
	min-height: 124px;
	position: fixed;
	top: 351px;
	width: 122px;
}

.optionsLogout854x480 {
    background-image: url("../854x480/optionslogout.png");
    height: 203px;
    left: 306px;
    min-height: 142px;
    position: fixed;
    top: 362px;
    width: 103px;
}