@font-face {
	font-family: Bubblegum;
	src: url(../grobold.ttf);
}

/*
*		854x480
*/

.pointsFrame854x480{
	background-image: url("../854x480/points.png");
	color: #4E3E2D;
	font-family: Bubblegum;
	font-size: 1.1em;
	height: 94px;
	left: 361px;
	min-height: 50px;
	padding-top: 44px;
	position: fixed;
	text-align: center;
	top: 0;
	width: 132px;
}

.levelsFrame854x480{
	background-image: url("../854x480/lvl.png");
	color: #4E3E2D;
	font-family: Bubblegum;
	font-size: 1em;
	height: 84px;
	left: 685px;
	min-height: 20px;
	padding-top: 44px;
	position: fixed;
	text-align: center;
	top: 370px;
	width: 120px;
}

.lifesFrame854x480{
	background-image: url("../854x480/life.png");
	color: #FFFFFF;
	font-family: Bubblegum;
	font-size: 1.1em;
	height: 83px;
	left: 115px;
	min-height: 20px;
	padding-left: 57px;
	padding-top: 35px;
	position: fixed;
	top: 0;
	width: 118px;
}

.gobackFrame854x480{
	background-image: url("../854x480/backbutton.png");
	height: 63px;
	left: 0;
	min-height: 10px;
	position: fixed;
	top: 0;
	width: 119px;
}

.guiCoinsFrame854x480{
	background-image: url("../854x480/guicoins.png");
	color: #644000;
	font-family: Bubblegum;
	font-size: 0.9em;
	height: 59px;
	left: 585px;
	padding-left: 27px;
	padding-top: 17px;
	position: fixed;
	text-align: left;
	top: 10px;
	width: 145px;
}

.guiBuyCoinsFrame854x480{
	background-image: url("../854x480/guibuycoins.png");
	height: 50px;
	left: 654px;
	position: fixed;
	top: 24px;
	width: 49px;
}

.guiBuyFreezeFrame854x480{
    background-image: url("../854x480/guibuyfreeze.png");
    color: #644000;
    font-family: Bubblegum;
    font-size: 0.8em;
    height: 95px;
    left: 745px;
    padding-left: 30px;
    padding-top: 55px;
    position: fixed;
    top: 270px;
    width: 64px;
}

.guiBuyBombFrame854x480{
    background-image: url("../854x480/guibuybomb.png");
    color: #644000;
    font-family: Bubblegum;
    font-size: 0.8em;
    height: 95px;
    left: 745px;
    padding-left: 30px;
    padding-top: 66px;
    position: fixed;
    top: 185px;
    width: 64px;
}

.guiBuyMultiFrame854x480{
    background-image: url("../854x480/guibuymulti.png");
    color: #644000;
    font-family: Bubblegum;
    font-size: 0.8em;
    height: 94px;
    left: 730px;
    padding-left: 42px;
    padding-top: 58px;
    position: fixed;
    top: 110px;
    width: 64px;
}

.guiPointsLeftFrame854x480{
	background-color: #FFFFFF;
	height: 231px;
	left: 779px;
	position: fixed;
	top: 135px;
	width: 6px;
}

.guiNextBallFrame854x480
{
    left: 340px;
    position: fixed;
    top: 415px;
}

.facebookFrame854x480{
	background-image: url("../854x480/facebook.png");
	height: 66px;
	left: 536px;
	min-height: 47px;
	position: fixed;
	top: 319px;
	width: 179px;
}

.coinsFrame854x480{
	background-image: url("../854x480/coins.png");
	height: 63px;
	left: 545px;
	min-height: 46px;
	position: fixed;
	top: 390px;
	width: 153px;
}

.addFriends854x480{
    background-image: url("../854x480/addfriends.png");
    height: 116px;
    left: 541px;
    min-height: 46px;
    position: fixed;
    top: 378px;
    width: 175px;
}

.leaderboardFrame854x480{
	background-image: url("../854x480/leaderboards.png");
	height: 73px;
	left: 540px;
	min-height: 56px;
	position: fixed;
	top: 249px;
	width: 163px;
}

.playImage854x480{
	background-image: url("../854x480/newbutton.png");
	height: 69px;
	left: 298px;
	min-height: 20px;
	position: fixed;
	right: auto;
	top: 193px;
	width: 163px;
}

.continueImage854x480{
	background-image: url("../854x480/continuebutton.png");
	height: 71px;
	left: 300px;
	min-height: 20px;
	position: fixed;
	top: 277px;
	width: 174px;
}

.optionsImage854x480{
	background-image: url("../854x480/optionbutton.png");
	height: 74px;
	left: 316px;
	min-height: 20px;
	position: fixed;
	right: auto;
	top: 352px;
	width: 169px;
}

.facebookButton854x480{
	background-image: url("../854x480/facebookbutton.png");
	height: 25px;
	left: 413px;
	min-height: 25px;
	position: fixed;
	top: 334px;
	width: 179px;
}

.loadingProgressBar854x480{
	height: 10px;
	left: 354px;
	position: fixed;
	top: 284px;
	width: 187px;
}

.guiProgressBar854x480{
    height: 351px;
    left: 15px;
    position: fixed;
    top: 110px;
    width: 78px;
}

.guiProgressBar854x480 > div{
    background-image: url("../854x480/progressbar.png");
    bottom: 0;
    position: absolute;
    top: auto;
    width: 100%;
}

.panda854x480{
    left: 290px;
    position: fixed;
    top: 330px;
}

.guiFinishPoints854x480{
    color: #644000;
    font-family: Bubblegum;
    font-size: 0.8em;
    height: 20px;
    left: 285px;
    padding-left: 5px;
    padding-top: 11px;
    position: fixed;
    text-align: center;
    top: 260px;
    width: 70px;
}

.guiFinishRank854x480{
    font-family: Bubblegum;
    font-size: 0.9em;
    height: 20px;
    left: 385px;
    position: fixed;
    text-align: center;
    top: 270px;
    width: 67px;
}

.guiFinishLevel854x480{
    font-family: Bubblegum;
    font-size: 0.9em;
    height: 20px;
    left: 485px;
    position: fixed;
    text-align: center;
    top: 270px;
    width: 60px;
}

.guiFinishLifes854x480{
    color: #FFFFFF;
    font-family: Bubblegum;
    font-size: 1.2em;
    height: 40px;
    left: 333px;
    padding-left: 13px;
    padding-top: 5px;
    position: fixed;
    top: 195px;
    width: 40px;
}

.guiFinishCoins854x480{
    font-family: Bubblegum;
    font-size: 0.9em;
    height: 40px;
    left: 440px;
    position: fixed;
    text-align: center;
    top: 202px;
    width: 100px;
}

.guiFinishMoreCoins854x480{
    background-image: url("../320x480/guiaddbutton.png");
    height: 49px;
    left: 500px;
    position: fixed;
    top: 205px;
    width: 49px;
}

.guiFinishMultiCount854x480{
    font-family: Bubblegum;
    font-size: 0.6em;
    height: 15px;
    left: 365px;
    position: fixed;
    top: 325px;
    width: 20px;
}

.guiFinishBombCount854x480{
    font-family: Bubblegum;
    font-size: 0.6em;
    height: 15px;
    left: 457px;
    position: fixed;
    top: 325px;
    width: 20px;
}

.guiFinishFreezeCount854x480{
    font-family: Bubblegum;
    font-size: 0.6em;
    height: 15px;
    left: 544px;
    position: fixed;
    top: 325px;
    width: 20px;
}

.guiFinishPoints854x480 > p { 
	vertical-align: middle;
}

.guiLooseScreen854x480{
    background-image: url("../854x480/guiloose.png");
    height: 389px;
    left: 243px;
    position: fixed;
    top: 0;
    width: 367px;
}	

.guiWinScreen854x480{
    background-image: url("../854x480/guiwin.png");
    height: 375px;
    left: 251px;
    position: fixed;
    top: 0;
    width: 351px;
}

.guiLooseContinue854x480{
    background-image: url("../854x480/guicontinueloose.png");
    height: 111px;
    left: 380px;
    min-height: 110px;
    position: fixed;
    top: 360px;
    width: 148px;
}

.guiWinContinue854x480{
    background-image: url("../854x480/guicontinuewin.png");
    height: 111px;
    left: 330px;
    min-height: 218px;
    position: fixed;
    top: 360px;
    width: 180px;
}

.guiBalanceCartel854x480{
	position: fixed;
	background-image: url(../854x480/guibalancescreen.png);
	top: 0px;
	left: 150px;
	height: 448px;
	width: 504px;
}

.guiBalanceBuyButton854x480{
    background-image: url("../854x480/guibalancemore.png");
    height: 150px;
    left: 400px;
    position: fixed;
    top: 330px;
    width: 220px;
}

.guiBalanceOkButton854x480{
    background-image: url("../854x480/guibalanceok.png");
    height: 120px;
    left: 150px;
    position: fixed;
    top: 330px;
    width: 220px;
}

.guiBalanceCoins854x480{
    font-family: Bubblegum;
    font-size: 1.2em;
    height: 40px;
    left: 520px;
    position: fixed;
    top: 185px;
    width: 100px;
}

.guiLoseAllLifes854x480{
    background-image: url("../854x480/guiendgame.png");
    height: 286px;
    left: 241px;
    position: fixed;
    top: 0;
    width: 374px;
}

.guiLoseAllLifesOk854x480{
    background-image: url("../854x480/guiendgameok.png");
    height: 50px;
    left: 330px;
    position: fixed;
    top: 370px;
    width: 227px;
}

.guiLoseAllLifesBuy854x480{
    background-image: url("../854x480/guiendgamebuy.png");
    height: 117px;
    left: 330px;
    position: fixed;
    top: 265px;
    width: 230px;
}

.guiNoSoftgamesScreen854x480{
    background-image: url("../854x480/guisoftgamesscreen.png");
    height: 350px;
    left: 199px;
    position: fixed;
    top: 0;
    width: 456px;
}

.guiNoSoftgamesButton854x480{
    background-image: url("../854x480/guisoftgamesbutton.png");
    height: 131px;
    left: 350px;
    position: fixed;
    top: 255px;
    width: 237px;
}

.guiNoInetErrorScreen854x480{
    background-image: url("../854x480/guinoinetscreen.png");
    height: 387px;
    left: 186px;
    position: fixed;
    top: 0;
    width: 482px;
}

.guiNoInetErrorButton854x480{
    background-image: url("../854x480/guinoinetbutton.png");
    height: 113px;
    left: 340px;
    position: fixed;
    top: 322px;
    width: 238px;
}

.guiNoFaceErrorScreen854x480{
    background-image: url("../854x480/guinofacescreen.png");
    height: 387px;
    left: 208px;
    position: fixed;
    top: 0;
    width: 437px;
}

.guiNoFaceErrorButton854x480{
    background-image: url("../854x480/guinofacebutton.png");
    height: 116px;
    left: 340px;
    position: fixed;
    top: 240px;
    width: 217px;
}

.guiPreviousScreen854x480{
    background-image: url("../854x480/guipreviousscreen.png");
    height: 326px;
    left: 211px;
    position: fixed;
    top: 0;
    width: 431px;
}


.guiPreviousButton854x480{
    background-image: url("../854x480/guipreviousbutton.png");
    height: 124px;
    left: 300px;
    position: fixed;
    top: 275px;
    width: 249px;
}

.guiResolutionScreen854x480{
    background-image: url("../854x480/guiresolutionscreen.png");
    height: 353px;
    left: 205px;
    position: fixed;
    top: 0;
    width: 444px;
}

.guiResolutionButton854x480{
    background-image: url("../854x480/guiresolutionbutton.png");
    height: 136px;
    left: 400px;
    position: fixed;
    top: 250px;
    width: 221px;
}

.guiNewLifesErrorScreen854x480{
    background-image: url("../854x480/guilifeserrorscreen.png");
    height: 378px;
    left: 140px;
    position: fixed;
    top: 0;
    width: 537px;
}

.guiNewLifesErrorButton854x480{
    background-image: url("../854x480/guilifeserrorbutton.png");
    height: 134px;
    left: 350px;
    position: fixed;
    top: 330px;
    width: 220px;
}

.guiLooseMenu854x480{
	background-image: url("../854x480/guimenu.png");
	height: 58px;
	left: 107px;
	min-height: 20px;
	position: fixed;
	top: 402px;
	width: 149px;
}


.guiBuyBombScreen854x480{
    position: fixed;
    background-image: url(../854x480/buybombcartel.png);
    height: 372px;
    left: 258px;
    position: fixed;
    top: 0;
    width: 444px;
}

.guiBuyBombOk854x480{
    background-image: url("../854x480/buybombok.png");
    height: 109px;
    left: 267px;
    position: fixed;
    top: 269px;
    width: 280px;
}

.guiBuyBombNo854x480{
    background-image: url("../854x480/buybombno.png");
    height: 90px;
    left: 473px;
    position: fixed;
    top: 268px;
    width: 188px;
}

.guiBuyMultiScreen854x480{
    background-image: url("../854x480/buymulticartel.png");
    height: 372px;
    left: 258px;
    position: fixed;
    top: 0;
    width: 444px;
}

.guiBuyMultiOk854x480{
    background-image: url("../854x480/buymultiok.png");
    height: 109px;
    left: 267px;
    position: fixed;
    top: 269px;
    width: 280px;
}

.guiBuyMultiNo854x480{
    background-image: url("../854x480/buymultino.png");
    height: 90px;
    left: 473px;
    position: fixed;
    top: 268px;
    width: 188px;
}

.guiBuyFreezeScreen854x480{
    position: fixed;
    background-image: url(../854x480/buyfreezecartel.png);
    height: 372px;
    left: 258px;
    position: fixed;
    top: 0;
    width: 444px;
}

.guiBuyFreezeOk854x480{
    background-image: url("../854x480/buyfreezeok.png");
    height: 109px;
    left: 267px;
    position: fixed;
    top: 269px;
    width: 280px;
}

.guiBuyFreezeNo854x480{
    background-image: url("../854x480/buyfreezeno.png");
    height: 90px;
    left: 473px;
    position: fixed;
    top: 268px;
    width: 188px;
}

.uiAlert854x480{
	font-family: Bubblegum;
	font-size: 1.1em;
	color: #644000;
	position: fixed;
	background-image: url(../backgrounddiv.png);
	background-repeat: repeat;
	width: 100%;
	height: 100%;
	min-height: 100%;
	left: 0px;
	top: 0px;
	padding: 0 0 0 0;
}

.uiAlertImage854x480{
	background-image: url("../854x480/alertscreen.png");
	height: 324px;
	left: 0;
	min-height: 263px;
	position: fixed;
	top: 0;
	width: 360px;
}

.uiAlertButton854x480{
	background-image: url("../854x480/alertbutton.png");
	display: table-cell;
	height: 123px;
	left: 73px;
	max-width: 201px;
	min-height: 117px;
	position: fixed;
	text-align: center;
	top: 292px;
	vertical-align: middle;
	width: 213px;
}

.uiAlertButton854x480 > div {
	height: 50px;
	left: 30px;
	position: absolute;
	top: 40px;
	width: 155px;
}

.uiAlertText854x480{
	height: 104px;
	left: 55px;
	min-height: 50px;
	position: absolute;
	text-align: center;
	top: 166px;
	width: 247px;
}

.uiHighscoreImage854x480{
    background-image: url("../854x480/highscorescreen.png");
    height: 327px;
    left: 194px;
    min-height: 263px;
    position: fixed;
    top: 0;
    width: 466px;
}

.uiHighscoreButton854x480{
    background-image: url("../854x480/highscorebutton.png");
    display: table-cell;
    height: 157px;
    left: 300px;
    max-width: 383px;
    min-height: 117px;
    padding-top: 105px;
    position: fixed;
    text-align: center;
    top: 285px;
    vertical-align: middle;
    width: 263px;
}

.initScreen854x480{
	background-image: url(../854x480/loadingscreen.png);
}

.uiPauseButton854x480{
	background-image: url("../854x480/pausebutton.png");
	height: 48px;
	left: 785px;
	min-height: 10px;
	position: fixed;
	top: 0;
	width: 58px;
}

.uiPauseScreen854x480{
    background-image: url("../854x480/pausecartel.png");
    height: 480px;
    left: 244px;
    min-height: 480px;
    position: fixed;
    top: 0;
    width: 366px;
}

.leaderboard854x480{
	position: absolute;
	top: 0px;
	left: 0px;
	background-image: url(../854x480/leaderboardscreen.png);
}

.leaderboardTabs854x480{
	position: absolute;
	top: 180px;
	left: 135px;
	width: 158px;
	height: 20px;
	min-height: 20px;
}

.leaderboardTab854x480{ 
	color: #644000;
	font-family: bubblegum;
	font-size: 0.8em;
	height: 133px;
	left: 86px;
	min-height: 40px;
	position: absolute;
	top: 238px;
	width: 200px;
}

.leaderboardTabHighscore854x480 { 
    background-image: url("../854x480/leaderboardhighscore.png");
    height: 25px;
    left: 390px;
    min-height: 20px;
    position: absolute;
    top: 171px;
    width: 95px;
}

.leaderboardTabFriends854x480 { 
    background-image: url("../854x480/leaderboardfriends.png");
    height: 24px;
    left: 480px;
    min-height: 20px;
    position: absolute;
    top: 170px;
    width: 95px;
}

.leaderboardBackMenu854x480 { 
    background-image: url("../854x480/leaderboardmenu.png");
    height: 66px;
    left: 270px;
    min-height: 65px;
    position: absolute;
    top: 400px;
    width: 130px;
}

.leaderboardTabHighlight854x480
{
	height: 40px;
}

.optionsFacebook854x480 {
	background-image: url("../854x480/optionsfacebook.png");
	height: 59px;
	left: 409px;
	min-height: 61px;
	position: fixed;
	top: 296px;
	width: 105px;
}

.optionsCoins854x480 {
	background-image: url("../854x480/optionscoins.png");
	height: 126px;
	left: 482px;
	min-height: 56px;
	position: fixed;
	top: 291px;
	width: 128px;
}

.optionsLeaderboards854x480 {
	background-image: url("../854x480/optionsleaderboard.png");
	height: 97px;
	left: 298px;
	min-height: 92px;
	position: fixed;
	top: 314px;
	width: 129px;
}

.optionsVolumeOn854x480 {
    background-image: url("../854x480/optionsvolumenon.png");
    height: 61px;
    left: 374px;
    min-height: 61px;
    position: fixed;
    top: 220px;
    width: 92px;
}

.optionsVolumeOff854x480 {
    background-image: url("../854x480/optionsvolumenoff.png");
    height: 61px;
    left: 464px;
    min-height: 61px;
    position: fixed;
    top: 211px;
    width: 92px;
}

.optionsMenu854x480 {
	background-image: url("../854x480/optionsmenu.png");
	height: 105px;
	left: 432px;
	min-height: 124px;
	position: fixed;
	top: 351px;
	width: 122px;
}

.optionsLogout854x480 {
    background-image: url("../854x480/optionslogout.png");
    height: 203px;
    left: 306px;
    min-height: 142px;
    position: fixed;
    top: 362px;
    width: 103px;
}